<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- url_for(Folder Name, filepath from Folder) -->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    
    INSERT GLOBAL SCRIPTS HERE!
    
    {% endblock %}
</head>
<body>
    {% block body %}

    INSERT GLOBAL BODY CONTENT HERE!
    
    {% endblock %}
</body>
</html>