#chat-hero {
    background: url("/imgs/chat.jpg") center scroll no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}

 .card::-webkit-scrollbar {
        width: 4px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 9px;
      background: rgba(96, 125, 139,0.99);
    }
    
    .balon1, .balon2 {
    
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    
      }
    
    
    .balon1 div {
    
      background: #42a5f5;
      color: #fff !important;
      border-radius: 20px 20px 3px 20px;
      display: block;
      max-width: 75%;
      padding: 7px 13px 7px 13px;
    
      }
    
    .balon2 div {
    
      background: #f1f1f1;
      color: #2160c4 !important;
      border-radius: 20px 20px 20px 3px;
      display: block;
      max-width: 75%;
      padding: 7px 13px 7px 13px;
      
      }