input[type="radio"] {
	position: fixed;
	top: 0;
	right: 100%;
}

.radio.label {
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0;
	float: left;
	cursor: pointer;
	@include transition(0.2s);
}

input[type="radio"]:checked ~ input + label {
	background: none;
	color: #aaa;
}

input + label {
	background: #fff;
	color: orange;
	margin: 0 0 1em 0;
}

input + label:first-of-type {
	border-top-left-radius: $rad;
	border-bottom-left-radius: $rad;
}

input:checked + label {
	border-top-right-radius: $rad;
	border-bottom-right-radius: $rad;
}

hr {
	clear: both;
	border: 0;
	border-top: 2px solid #999;
	margin: 2em 0;
}
