.listing-author * {
    display: inline-block;
    vertical-align: middle;
}

.listing-author-pfp {
    height: 2rem;
    width: 2rem;
    border: 1px rgb(238, 238, 238) solid;
    border-radius: 99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listing-img {
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.listing-card {*/
/*    height: 90%;*/
/*}*/

.listing-card-text {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vertical .listing-img {
    width: 100%;
    height: 10rem;
}

.searchbar {
    padding: 0 20rem
}

.checked {
    color: orange;
}

@media only screen and (max-width: 1215px) {
    div.container.searchbar {
        padding: 0 8rem
    }
}

@media only screen and (max-width: 768px) {
    div.container.searchbar {
        padding-left: 1rem;
        padding-right: 1rem
    }
}
