{% extends 'base.html' %}


{% block title %}Tourisit - Tours By Locals {% endblock %}


{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/pages/all_bookings.css">
    <link rel="stylesheet" href="/css/frameworks/bulma-divider.css">
{% endblock %}


{% block content %}
    <section class='hero is-medium is-black' id='bookings-hero'>
        <div class='hero-body'>
            <div class="container">
                <h1 class="title is-size-1 has-text-weight-bold">
                    Your Bookings
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <p class="subtitle">Upcoming Tours</p>
                        <table class='table is-striped is-fullwidth'>
                            {% for item in booking_list %}
                                {% if item.process_step == 6 %}
                                    <tr>
                                        <td>{{ item.book_date }}</td>
                                        <td>
                                            <a href="/bookings/{{ item['_id'] }}">{{ listings[loop.index0].tour_name }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="divider is-vertical is-right"></div>
                    <div class="column">
                        <p class="subtitle">Required Action</p>
                        <table class='table is-striped is-fullwidth'>
                            {% for item in booking_list %}
                                {% if item.process_step in (1, 3, 5, 6, 7) %}
                                    <tr>
                                        <td><b>{{ listings[loop.index0].tour_name }}</b></td>
                                        {% if item.process_step == 1 %}
                                            <td><a href="/bookings/{{ item['_id'] }}">Submit Requirements</a></td>
                                        {% elif item.process_step == 3 %}
                                            <td><a href="/bookings/{{ item['_id'] }}">Review Custom Itinerary & Charges</a></td>
                                        {% elif item.process_step == 5 %}
                                            <td><a href="/bookings/{{ item['_id'] }}">Make Payment</a></td>
                                        {% elif item.process_step == 6 %}
                                            <td><a href="/bookings/{{ item['_id'] }}">Complete Tour</a></td>
                                        {% elif item.process_step == 7 %}
                                            <td><a href="/bookings/{{ item['_id'] }}">Leave Feedback</a></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!--START: Dropdown-->
    <section class='section'>
        <div class='container has-text-centered'>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Current Bookings</option>
                        <option>Completed</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!--END: Dropdown-->

{#    {% if 1 <= item.process_step <= 4 %}#}
{#    <span class="tag is-info is-light mb-4">Planning</span>#}
{#{% elif 4 < item.process_step < 7 %}#}
{#    <span class="tag is-success is-light mb-4">Confirmed</span>#}
{#{% elif item.process_step >= 7 %}#}
{#    <span class="tag is-warning is-light mb-4">Completed</span>#}
{#{% endif %}#}

    <section>
        {% if booking_list == None %}
            <div>(to be replaced) No bookings</div>
        {% else %}
            {% for item in booking_list %}
                {% set listing = listings[loop.index0] %}
                <!--START: Card -->
                <div class='container mt-5'>
                    <div class='box p-5'>
                        <a href="/bookings/{{ item['_id'] }}">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <div class="ml-4">
                                        {% if 1 <= item.process_step <= 4 %}
                                            <span class="tag is-info is-light mb-4">Planning</span>
                                        {% elif 4 < item.process_step < 7 %}
                                            <span class="tag is-success is-light mb-4">Confirmed</span>
                                        {% elif item.process_step >= 7 %}
                                            <span class="tag is-warning is-light mb-4">Completed</span>
                                        {% endif %}
                                        <div class="listing-author">
                                            <div class="profile-img"
                                                 style="background-image: url('data:image/jpeg;base64, {{ listing.tg_uid | user_pfp }}')">
                                            </div>
                                            <div class="ml-2"><b>{{ listing.tg_uid | user_name }}</b> <span>is offering:</span>
                                            </div>
                                        </div>
                                        <h1 class='title'>{{ listing.tour_name }}</h1>
                                        <p class="subtitle truncate is-size-6 has-text-grey">{{ listing.tour_desc }}</p>
                                    </div>
                                </div>
                                <div class="column is-two-fifths">
                                    <div class="box listing-img"
                                         style="background-image: url('data:image/jpeg;base64, {{ listing.tour_img }}');"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--END: Card-->
            {% endfor %}
        {% endif %}
    </section>

    <section class="section">
        <div class="container">
            {% for item in booking_list %}

                    {% include 'components/listing-card-horizontal.html' %}

                {% endfor %}
        </div>
    </section>

    <!--START: Scroll to top button-->
    <button onclick="topFunction()" id="TopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </button>
    <!--END: Scroll to top button-->

    <!--Scroll to top button's js-->
    <script>
        //Get the button:
        mybutton = document.getElementById("TopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 1200 || document.documentElement.scrollTop > 1200) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

{% endblock %}