{% extends 'base.html' %}

{% block title %}Tourisit - Tours By Locals {% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/frameworks/bulma-timeline.min.css">
    <link rel="stylesheet" href="/css/frameworks/bulma-steps.css">
    <link rel="stylesheet" href="/css/pages/chat.css">
    <link rel="stylesheet" href="/css/frameworks/bulma-badge.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/css/pages/all_bookings.css">

    <script>
        previousSyncData = null
        setInterval(syncEndpoint = () => {
            $.ajax({
                url: "/endpoint/chat?chat_id={{selected_chatroom}}",
                dataType: "json",
                success: (data) => {
                    console.log('Syncing with endpoint data.')
                    incomingMsgs = data.data

                    if (incomingMsgs != previousSyncData) {
                        $('#messagesList').html(data.data)
                        console.log('New data received.')
                        var $target = $('#messageContainer');
                        $($target).animate({
                            scrollTop: $($target)[0].scrollHeight - $($target)[0].clientHeight
                        }, 0);
                        previousSyncData = incomingMsgs
                    } else {
                        console.log('Nothing new. Ignoring.')
                    }
                }
            })
        }, 2500)

        syncEndpoint()

        $(document).ready(function () {
            $('#report').click(function () {
                const startlink = location.origin;
                var pfplink = startlink + '/users/{{ tour.tg_uid }}/profile';
                sessionStorage.setItem("pfpLink", pfplink);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!--START: Top-->
    <section class='section mb-0 pb-0'>
        <div class="container mt-5 pt-5 pl-5 pr-5">
            <a href="{{ url_for('all_bookings') }}"><i class="fas fa-chevron-left"></i>&ensp;Back to Bookings</a>
            <h1 class="title is-size-1 m-0">{{ tour.tour_name }}</h1>
            <!--START: More options dropdown-->
            <div class="dropdown post-options is-hoverable is-right is-pulled-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-post">
                        <span class="icon is-small">
                            <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu-post" role="menu">
                    <div class="dropdown-content">
                        <a class="dropdown-item">
                            Request Cancellation
                        </a>
                        <a href="{{ url_for('support') }}" class="dropdown-item" id="report">
                            Report Abuse
                        </a>
                    </div>
                </div>
            </div>
            <!--END: More options dropdown-->
            <div class="listing-author">
                <!--dynamic tg photo-->
                <div>Tour Guide:
                    <div class="profile-img mt-2"
                         style="background-image: url('data:image/jpeg;base64, {{ tour.tg_uid | user_pfp }}');"></div>
                    <b>{{ tour.tg_uid| user_name }}</b></div>
            </div>

        </div>
    </section>
    <!--END: Top-->

    <!--START-->
    <div class="container">
        {% if process_step == 6 %}
            <div class="has-text-centered m-2 is-size-6">
                You are now ready to go for your Tour.
            </div>
        {% endif %}

        {% if process_step >= 7 %}
            <div class="has-text-centered m-2 is-size-4">
                You have completed your Tour.
            </div>
        {% endif %}
        <!--START: Steps-->
        <div>
            <ul class="steps has-content-centered is-small">

                <li class="steps-segment {{ 'is-active' if (process_step == 1) }}">
                        <span class="steps-marker {{ 'is-link' if (process_step == 1) }}">
                            {% if process_step > 1 %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                            <!-- <i class="fas fa-book"></i> -->
                        </span>
                    <div class="steps-content">
                        <p class="is-size-5 {{ 'has-text-link' if(process_step == 1) }}">Submit Requirements</p>
                    </div>
                </li>

                <li class="steps-segment {{ 'is-active' if (2 <= process_step <= 4) }}">
                        <span class="steps-marker {{ 'is-link' if (2 <= process_step <= 4) }}">
                            {% if process_step > 4 %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                            <!-- <i class="fas fa-route"></i> -->
                        </span>
                    <div class="steps-content">
                        <p class="is-size-5 {{ 'has-text-link' if(2 <= process_step <= 4) }}">Planning Itinerary</p>
                    </div>
                </li>

                <li class="steps-segment {{ 'is-active' if (process_step == 5) }}">
                        <span class="steps-marker {{ 'is-link' if (process_step == 5) }}">
                            {% if process_step > 5 %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                            <!-- <i class="fas fa-dollar-sign"></i> -->
                        </span>
                    <div class="steps-content">
                        <p class="is-size-5 {{ 'has-text-link' if(process_step == 5) }}">Confirmation & Payment</p>
                    </div>
                </li>

                <li class="steps-segment {{ 'is-active' if (process_step == 6) }}">
                        <span class="steps-marker {{ 'is-link' if (process_step == 6) }}">
                            {% if process_step > 6 %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                        </span>
                    <div class="steps-content">
                        <p class="is-size-5 {{ 'has-text-link' if(process_step == 6) }}"
                           onclick="$('#TourCompleteModal').fadeIn('fast')"
                        >Complete Tour</p>
                    </div>
                </li>

                <li class="steps-segment {{ 'is-active' if (process_step == 7 or process_step == 7.2) }}">
                    <a class="{{ 'inactiveLink' if (process_step == 7.1 or process_step == 8) }}"
                       href="/review/{{ booking._id }}">
                            <span class="steps-marker {{ 'is-link' if(process_step == 7 or process_step == 7.2) }}">
                                {% if process_step == 7 or process_step == 7.2 %}
                                    <i class="fas fa-check"></i>
                                {% endif %}
                                <!-- <i class="fas fa-comments"></i> -->
                            </span>
                        <div class="steps-content">
                            <p class="is-size-5 has-text-black {{ 'has-text-link' if(process_step == 7 or process_step == 7.2) }}">
                                Leave Feedback</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <!--END: Steps-->
        <!--START: Action req-->
        {% if process_step == 2 or process_step == 4 %}
            <div class="has-text-centered m-5 is-size-5">
                Waiting for Tour Guide to:
                <span class="tag is-white-ter is-size-5 is-clickable">
                    Plan Custom Package</span>
            </div>
        {% elif not(process_step == 8 or process_step == 7.1) %}

            <div class="has-text-centered m-5 is-size-5">
                Next Step:
                {% if process_step == 1 %}
                    <span class="tag is-warning is-light is-size-5 is-clickable" onclick="openTab(event,'Chat')">
                    Submit Requirements</span>
                {% elif process_step == 3 %}
                    <span class="tag is-warning is-light is-size-5 is-clickable" onclick="openTab(event,'Details')">
                    Review Custom Itinerary & Charges</span>
                {% elif process_step == 5 %}
                    <span class="tag is-warning is-light is-size-5 is-clickable"><a href="/checkout/{{ booking._id }}">
                    Make Payment</a></span>

                {% elif process_step == 6 %}
                    <span class="tag is-warning is-light is-size-5 is-clickable"
                          onclick="$('#TourCompleteModal').fadeIn('fast')">
                    Complete Tour</span>
                {% elif process_step == 7 or process_step == 7.2 %}
                    <span class="tag is-warning is-light is-size-5 is-clickable"><a href="/review/{{ booking._id }}">
                        Leave Feedback</a></span>
                {% endif %}
            </div>
        {% endif %}
        {% if process_step == 6 %}
            <p class='has-text-centered has-text-grey'><i class="fas fa-arrow-up"></i> Click once you have completed
                your tour.</p>
        {% endif %}
        <!--END: Action req-->
    </div>
    <!--END-->

    <!--START: Tabs-->
    <div class="tabs is-centered is-boxed pt-4">
        <ul>
            <li class="tab is-active" onclick="openTab(event,'Details')">
                {% if process_step == 3 %}
                    <span title="Badge top right" class="badge is-danger"></span>
                {% endif %}
                <a>Details</a>
            </li>
            <li class="tab" onclick="openTab(event,'Chat')">
                <a>Chat</a>
            </li>
            <li class="tab" onclick="openTab(event,'Billing')">
                {% if process_step == 5 %}
                    <span title="Badge top right" class="badge is-danger"></span>
                {% endif %}
                <a>Billing</a>
            </li>
        </ul>
    </div>

    <!--END: Tabs-->

    <!--START: Content-->
    <div class="container section pt-2">

        <!--START: Details-->
        <div id="Details" class="content-tab">
            <!--START: About-->
            <div class='columns my-5 is-vcentered'>
                <div class='column'>
                    <h2 class='is-size-4'><b>About this Tour</b></h2>
                    <p>{{ tour.tour_desc }} </p>
                </div>
                <div class='column'>
                    <div class="box listing-img"
                         style="background-image: url('data:image/jpeg;base64, {{ tour.tour_img }}');"></div>
                </div>
            </div>
            <!--END: About-->
            <br>
            {% if process_step == 4 %}
                <!--START: Customer Revision request-->
                <div class="section">
                    <div class="container">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-background-grey-lighter">
                                    Your Revision Request
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p>
                                        {{ booking.customer_req['revision'] }}
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <p class="m-4">{{ booking.revisions }} free Revision(s) remaining.</p>
                            </footer>
                        </div>
                    </div>
                </div>
                <!--END: Customer Revision request-->
            {% endif %}
            <br>
            <!--START: Card 3-->
            <div class='container mt-5'>
                <div class='box p-5'>
                    <div class="has-text-centered">
                        <span class='is-size-3 mr-1'><b>Itinerary</b></span>
                        {% if process_step == 2 or process_step == 4 %}
                            <span class="tag is-warning is-light is-size-6">
                            Needs Revision</span>
                        {% elif process_step == 3 %}
                            <span class="tag is-grey is-light is-size-6">
                            Unconfirmed</span>
                        {% elif process_step >= 5 %}
                            <span class="tag is-success is-light is-size-6">
                            Confirmed</span>
                        {% endif %}
                    </div>
                    <div class="columns pt-5">

                        <!--timeline-->
                        <div class="column">
                            <div class="timeline">
                                <header class="timeline-header">
                                    <span class="tag is-medium is-success">Start</span>
                                </header>
                                {% for item in booking.timeline_content %}
                                    <div class="timeline-item">
                                        <div class="timeline-marker"></div>
                                        <div class="timeline-content">
                                            <p>{{ item }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="timeline-header">
                                    <span class="tag is-medium is-success">End</span>
                                </div>
                            </div>
                        </div>
                        <!--timeline end-->
                        <!--START: Info Table-->
                        <div class="column is-one-third">
                            <table class='table'>
                                <tr>
                                    <td><i class="far fa-calendar"></i>&ensp;<b>Date</b></td>
                                    {% if booking.book_date == '' %}
                                        <td class='has-text-grey'>To-Be Decided</td>
                                    {% else %}
                                        <td>{{ booking.book_date }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><i class="fas fa-clock"></i>&ensp;<b>Time</b></td>
                                    {% if booking.book_time == '' %}
                                        <td class='has-text-grey'>To-Be Decided</td>
                                    {% else %}
                                        <td>{{ booking.book_time }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><i class="fas fa-clock"></i>&ensp;<b>Number of Participants</b></td>
                                    {% if booking.book_pax == 0 %}
                                        <td class='has-text-grey'>To-Be Decided</td>
                                    {% else %}
                                        <td>{{ booking.book_pax }}</td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--END: Info Table-->
                    {% if process_step >= 3 %}
                        <div class="is-pulled-right">
                            <span class="tag is-size-4 mb-1">
                                Tour Base Price: ${{ '%0.2f'| format((booking.book_charges['baseprice'])|float) }}
                            </span><br>
                            <span class="tag is-size-4">
                                Overall Cost: ${{ '%0.2f'| format(( booking.book_charges['baseprice']+booking.book_charges['customfee']+booking.book_charges['revisionfee']+ 0.05*(booking.book_charges['baseprice']) )|float) }}
                            </span><br>
                            <a class="has-text-link is-size-7 mb-5" style='margin-left:8em;' onclick="openTab(event,'Billing')">View Price
                                Breakdown</a>
                        </div>
                        <br><br><br><br><br>
                    {% endif %}
                    {% if process_step == 3 %}
                        <!--START: Revise/Confirm itinerary buttons-->
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button class="button is-warning is-light"
                                        onclick="$('#ReqRevisionModal').fadeIn('fast')">
                            <div class="is-size-5">Request Revision</div>
                            <br>
                            </button>
                            </p>
                            <p class="control">
                                <button class="button is-success is-light"
                                        onclick="$('#AcceptItinModal').fadeIn('fast')">
                            <div class="is-size-5">Accept & Confirm</div>
                            <br>
                            </button>
                            </p>
                        </div>
                        <!--END: Revise/Confirm itinerary buttons-->
                    {% endif %}
                    <!--START: (Modal) Confirm accepting itinerary-->
                    <div class="modal is-active" id="AcceptItinModal" style="display: none;">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered">
                                <p class="is-size-5 has-text-weight-bold">Confirm Tour Itinerary and Proposed Cost?</p>
                                <p>This action cannot be undone.</p>
                                <div class="field is-grouped is-grouped-centered mt-5">
                                    <p class="control">
                                        <button class="button is-danger is-light"
                                                onclick="$('#AcceptItinModal').fadeOut('fast');">
                                    <div class="is-size-5">Cancel</div>
                                    </button>
                                    </p>
                                    <form id="AcceptItinerary" method="POST"
                                          action="{{ url_for('bookings', book_id=booking._id) }}">
                                        <p class="control">
                                            <button class="button is-success is-light" type="submit"
                                                    name="AcceptItinerary"
                                                    value="AcceptItinerary">
                                        <div class="is-size-5">Accept & Confirm</div>
                                        </button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close"
                                onclick="$('#AcceptItinModal').fadeOut('fast');"></button>
                    </div>
                    <!--END: (Modal) Confirm accepting itinerary-->
                </div>
            </div>
            <!--END: Card 3-->
            <br>
            <!--START: Additional Info-->
            <div class='container box p-5'>
                <div class="has-text-centered">
                    <span class='is-size-3 mr-1'><b>Additional Information</b></span>
                </div>
                {% if booking.book_info == '' %}
                    <p class="has-text-centered has-text-grey m-5">There is no additional information available at the
                        moment.</p>
                {% else %}
                    <p>{{ booking.book_info }}</p>
                {% endif %}
            </div>
            <!--END: Additional Info-->

        </div>
        <!--END: Details-->

        <!--START: Chat-->
        <div id="Chat" class="content-tab" style="display:none">
            <!--Start: Console Column-->
            <div class="column">
                <div class="container chat-main">
                    {% if chatroom_display != False %}
                        <div class="box p-0">
                            <div class="p-5 has-background-light recipient-header">
                                <h2 class="title is-4 has-text-weight-bold has-text-dark">
                                    {{ chatroom_names|safe }}
                                </h2>
                            </div>
                            <div id="messageContainer">
                                <div class="p-5 has-background-light recipient-header-lower">
                                    <p class="subtitle has-text-grey"><i class="fas fa-heart"></i>&ensp;This is the
                                        humble
                                        beginnings of this conversation and the tippy top of it.</p>
                                </div>
                                <div id="messagesList" class="p-5">
                                    {% if chatroom_display|count == 0 %}
                                        <div>
                                            <p class="has-text-centered has-text-grey has-text-weight-light is-size-5">
                                                <span class="is-size-1"><i class="far fa-folder-open"></i></span>
                                                <br>
                                                <span>Looks like this chat is sparkling clean</span>
                                                <br>
                                                <small>This chat is empty</small>
                                            </p>
                                        </div>
                                    {% else %}
                                        {% for i in chatroom_display %}
                                            <div>
                                                <small><a href="/users/{{ i['uid'] }}/profile"
                                                          class="has-text-weight-bold">{{ i["sender_name"] }}</a>
                                                    <span class="has-text-grey">
                                                        {% if i["self"] %}
                                                            — Me
                                                        {% endif %}&nbsp;({{ i['timestamp']|timestamp_iso }})
                                                    </span>
                                                </small>
                                                <p>{{ i["msg_content"] }}</p>
                                                <hr>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <script>
                                var $target = $('#messageContainer');
                                $($target).animate({
                                    scrollTop: $($target)[0].scrollHeight - $($target)[0].clientHeight
                                }, 0);
                            </script>

                            <!--START: Input field-->
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <form method="POST" style="width: 100%;" action="?gotoChat=true">
                                        {{ chat_form.csrf_token }}
                                        <!-- <input class="input is-fullwidth" type="text" placeholder="Enter your message.." /> -->
                                        {{ chat_form.message(id="message", type="text", class="input is-fullwidth",
                                                placeholder="Enter message", value="", autocomplete="off") }}
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--END: Input Field-->
                        </div>
                    {% else %}
                        <p class="has-text-centered title mt-6 has-text-grey-light"><i
                                class="fas fa-hand-point-left"></i>&ensp;Click a chat to display</p>
                    {% endif %}
            </div>
            <!--End: Console Column-->
        </div>
        <!--END: Chat-->

        <!--START: BIllinng-->
        <div id="Billing" class="content-tab" style="display:none">
            <div class="container mb-6">
                {% if process_step == 3 or process_step == 4 %}
                    <!--START: Proposed Cost-->
                    <div>
                        <div class="is-size-3 has-text-centered has-text-weight-semibold">Proposed Cost
                            <span class="tag is-grey is-light">Unconfirmed</span>
                        </div>
                        <br>
                        <div class="container box">
                            <div class="heading">Tour Price</div>
                            <div class="title">${{ '%0.2f'| format((booking.book_charges['baseprice'])|float) }}</div>
                        </div>
                    </div>
                    <!--END: Proposed Cost-->
                {% endif %}

                <div class="columns">
                    <div class="column">
                        <h1 class="is-size-3 has-text-centered has-text-weight-semibold">Charges</h1>
                        <br>
                        {% if booking.book_charges['customfee'] != 0 %}
                            <div class="container box">
                                <div class="heading">Customisation Fee</div>
                                <div class="title">${{ '%0.2f'| format((booking.book_charges['customfee'])|float) }} <span
                                        class="tag is-success is-light">Paid</span></div>
                            </div>
                        {% endif %}
                        {% if booking.book_charges['revisionfee'] != 0 %}
                            <div class="container box">
                                <div class="heading">Extra Revisions</div>
                                <div class="title">${{ '%0.2f'| format((booking.book_charges['revisionfee'])|float) }}
                                    {% if process_step > 5 %}
                                        <span class="tag is-success is-light">Paid</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if process_step >= 5 %}
                            <div class="container box">
                                <div class="heading">Tour Price</div>
                                <div class="title">${{ '%0.2f'| format((booking.book_charges['baseprice'])|float) }}
                                    {% if process_step > 5 %}
                                        <span class="tag is-success is-light">Paid</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="column">
                        <h1 class="is-size-3 has-text-centered has-text-weight-semibold">Summary</h1>
                        <br>
                        {% if process_step < 5 %}
                            <div class="container box">
                                <div class="heading">Total Cost</div>
                                To-Be Confirmed
                            </div>
                        {% elif process_step >= 5 %}
                            <div class="container box">
                                <div class="heading">Sub-Total</div>
                                <div class="title">
                                    ${{ '%0.2f'| format(( booking.book_charges['baseprice']+booking.book_charges['customfee']+booking.book_charges['revisionfee'] )|float) }}
                                </div>

                                <button class="button is-white is-pulled-right has-tooltip-multiline has-tooltip-left"
                        data-tooltip="Tourisit accepts a 5% commission fee to sustain its services.">
                    <i class="far fa-question-circle"></i>
                </button>

                                <div class="heading">+ Commission Fee</div>
                                <div class="title">
                                    ${{ '%0.2f'| format(( 0.05*(booking.book_charges['baseprice']) )|float) }}
                                </div>

                                <div class="heading">Total Cost</div>
                                <div class="title">
                                    ${{ '%0.2f'| format(( booking.book_charges['baseprice']+booking.book_charges['customfee']+booking.book_charges['revisionfee']+ 0.05*(booking.book_charges['baseprice']) )|float) }}
                                    {% if process_step >=6 %}
                                        <span class="tag is-success is-light">Paid</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if process_step == 5%}
                        <div class="container box">
                            <div class="heading">Outstanding Fees</div>
                            <div class="title">
                                ${{ '%0.2f'| format(( booking.book_charges['baseprice']+booking.book_charges['revisionfee']+ 0.05*(booking.book_charges['baseprice']) )|float) }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if process_step == 5 %}
                    <!--START: Payment button-->
                    <form id="MakePayment" method="POST" action="{{ url_for('checkout', book_id=booking._id) }}">
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button class="button is-success is-light" type="submit" name="MakePayment"
                                        value="MakePayment" style="border-width:0;">
                            <div class="is-size-4">Make Payment <i class="fas fa-arrow-right"></i></div>
                            </button>
                            </p>
                        </div>
                    </form>
                    <!--END: Payment button-->
                {% endif %}
            </div>
        </div>
        <!--END: Billing-->

    </div>
    <!--END: Content-->

    <script defer src="/js/booking.js"></script>

    <!--START:(Modal) Confirm that tour completed-->
    <div class="modal is-active" id="TourCompleteModal" style="display: none;">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <p class="is-size-5 has-text-weight-bold">Confirm that your tour has been completed?</p>
                <p>This action cannot be undone.</p>
                <div class="field is-grouped is-grouped-centered mt-5">
                    <p class="control">
                        <button class="button is-danger is-light" onclick="$('#TourCompleteModal').fadeOut('fast');">
                    <div class="is-size-5">Cancel</div>
                    </button>
                    </p>
                    <form id="TourComplete" method="POST" action="{{ url_for('bookings', book_id=booking._id) }}">
                        <p class="control">
                            <button class="button is-success is-light" type="submit" name="CompleteTour"
                                    value="CompleteTour">
                        <div class="is-size-5">Confirm</div>
                        </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick="$('#TourCompleteModal').fadeOut('fast');"></button>
    </div>
    <!--END:(Modal) Confirm that tour completed-->

    <!--START: (Modal) Confirm revision of itinerary-->
    <div class="modal is-active" id="ReqRevisionModal" style="display: none;">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <p class="is-size-5 has-text-weight-bold">Request a revision of the Proposed Itinerary
                    and Charges?</p>
                <p>You have {{ booking.revisions }} free revision(s) left.</p>

                <button class="button is-white is-pulled-right has-tooltip-multiline has-tooltip-left"
                        data-tooltip="Every extra revision after all your free revisions have been used will cost an extra ${{ '%0.2f'|format(0.025*(tour['tour_price'] | float )) }}">
                    <i class="far fa-question-circle"></i>
                </button>
                <form id="revisionform" method="POST" action="{{ url_for('bookings', book_id=booking._id) }}">
                    {{ revisionform.csrf_token }}
                    <div class="field">
                        {{ revisionform.revision_text(id="revision_text", class="textarea",
                    placeholder="Enter the changes you would like to see..") }}
                    </div>
                    <div class="field is-grouped is-grouped-centered mt-5">
                        <p class="control">
                            <button class="button is-danger is-light"
                                    onclick="$('#ReqRevisionModal').fadeOut('fast');">
                        <div class="is-size-5">Cancel</div>
                        </button>
                        </p>
                        <p class="control">
                            {{ revisionform.submit(id="revision_submit", class="button is-success is-light", type="submit") }}
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick="$('#ReqRevisionModal').fadeOut('fast');"></button>
    </div>
    <!--END: (Modal) Confirm revision of itinerary-->
    <!--START: (Modal) Submit Requirements-->
    <div class="modal {{ 'is-active' if(process_step == 1) }}" id="ReqRevisionModal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <a href="{{ url_for('all_bookings') }}">
                    <p class="is-pulled-left">
                        <i class="fas fa-arrow-left"></i>
                        Back to Bookings
                    </p>
                </a>
                <br>
                <p class="is-size-5 has-text-weight-bold">Let's Personalise Your Experience!</p>
                <p>What would you like to customise?</p>
                <form id="req_form" method="POST" action="{{ url_for('bookings', book_id=booking._id) }}">
                    {{ req_form.csrf_token }}
                    <div class="field">
                        {{ req_form.req_text(id="req_text", class="textarea",
                        placeholder="I'd like to add this activity to the itinerary..") }}
                    </div>
                    <div class="field is-grouped is-grouped-centered mt-5">
                        <p class="control">
                            {{ req_form.submit(id="revision_submit", class="button is-success is-light", type="submit", onclick="$('#ReqRevisionModal').fadeOut('fast');") }}
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--END: (Modal) Submit Requirements-->
{% endblock %}
