{% extends 'base.html' %}

{% block title %}Tourisit - Tours By Locals {% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/bulma-divider.css">
{% endblock %}


{% block content %}
    <section class="section">
        <div class="container">
            Placeholder check-out page until Stripe is implemented.
            <div class="control">
                <a href="{{ url_for('bookings') }}">
                    <button class="button is-primary">Pay & Proceed</button>
                </a>
            </div>
        </div>
    </section>
{% endblock %}