{% extends 'base.html' %}

{% block title %}Tourisit - Tours By Locals {% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/frameworks/bulma-divider.css">
{% endblock %}


{% block content %}
    <section class="section">
        <div class="container">
            <div class='card has-text-centered'>
                <div class='section'>
                    <div class="container">
                        <h1 class='title has-text-centered'>Amount: ${{ amount }}</h1>
                        {% if customize == 1 %}
                            <h1 class='title has-text-centered'>Type: Customization Fee</h1>
                        {% else %}
                            <h1 class='title has-text-centered'>Type: Tour Fee</h1>
                        {% endif %}
                        <form id="payment" method="POST" action="{{ url_for('checkout', book_id=book_id) }}">
                            {{ form.csrf_token }}
                            <div class="control">
                                {{ form.submit(id="submit", class="button is-primary", type="submit") }}
                                <!-- <a href="">
                                    <button type="submit" id="pay_submit" class="button is-primary">Pay & Proceed</button>
                                </a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}