{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
{% endblock %}



{% block content %}
    <section class="section has-background-white">
        <div class="container">
            <h1 class="is-size-1 has-text-weight-bold mt-6">Your Favourites</h1>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="columns is-multiline" id='displayListings'>
                {% include 'components/listing-card.html' %}
            </div>
        </div>
    </section>
{% endblock %}