{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/pages/index.css">
{% endblock %}

{% block content %}

    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered">
            <h1 class="title has-text-weight-bold" style="font-size: 5rem;">
                <img src="/logo.png" style="height: 7rem">
            </h1>
            <h2 class="subtitle is-size-3 has-text-light">
                Tours by Locals, for Locals
            </h2>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="box p-6">
            <h2 class="title">Recent listings</h2>

            <div class="columns is-multiline">
                
                {% for item in listings %}
                    {% if loop.index <=6 %}

                        {% include 'components/listing-card.html' %}

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}