{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/pages/discover.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style>
        .center-gif {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>

    <script>
        receiveSearch = (query) => {
            $.ajax({
                url: `/endpoint/search?query=${query}`,
                dataType: "json",
                success: (data) => {
                    console.log('Retrieving search query')
                    incomingSearchResults = data.data
                    $('#displayListings').html(incomingSearchResults)
                }
            })
        }
    </script>
{% endblock %}

{% block content %}

    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered discover-hero">
            <h1 class="title has-text-weight-bold has-text-white" style="font-size: 5rem;">
                Discover
            </h1>
            <h2 class="subtitle is-size-4 has-text-light">
                There's always a trip for everyone
            </h2>
        </div>
    </section>

    <section class="section" style="margin-top:-8rem">
        <div class="container">
            <div class="box searchbar-container" style="margin: 0 8rem;">
                <div class="field has-addons">
                    <div class="control is-expanded">

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input id="searchReq" class="input is-fullwidth" type="text"
                                       placeholder="Look for a tour"
                                       >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-search"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-danger" onclick="location.href='/discover/random'">
                            <i class="fas fa-dice"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class='section'>
        <div class='container'>
            <div class="dropdown is-hoverable is-pulled-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Filter By:</span>
                        <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                            Highest Relevance
                        </a>
                        <a href="#" class="dropdown-item">
                            Highest Rating
                        </a>
                        <a href="#" class="dropdown-item">
                            Newest Listings
                        </a>
                        <a class="dropdown-item">
                            Closest Proximity
                        </a>
                        <a href="#" class="dropdown-item">
                            Lowest to Highest Price
                        </a>
                        <a class="dropdown-item">
                            Highest to Lowest Price
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class='section loading-screen'>
        <div class='container'>
            <img class='center-gif' id="loading-image" src="/imgs/loading-search.gif">
            <br>
            <p class='subtitle has-text-centered'>
                Searching for listing
            </p>
        </div>
    </section>



    <section class="section prod-cards">
        <div class="container">
            <div class="columns is-multiline" id='displayListings'>
                {% include 'components/listing-card.html' %}
            </div>
        </div>
    </section>

    <script>
        var searchbox = document.getElementById('searchReq')
        var timetostop = 1000
        var timeout = null

        // Listen for keystroke events
        searchbox.addEventListener('keyup', function (e) {
                // Clear the timeout
                // Don't query the database if there is input (Since the timeout function will be gone when there is input detected, with a new timeout function initiated)
                clearTimeout(timeout);
                $('.loading-screen').show()
                $('.prod-cards').hide()

                // Make a new timeout set to go off in 1000ms (1 second). 
                // If there is no keyup in the next 1 second, then the timeout function will execute (Search the database)
                timeout = setTimeout(function () {
                    receiveSearch(searchbox.value);
                    
                    // Set a timeout of 0.6 seconds. As it takes time for the product cards to update (Based on the quering from the database)
                    setTimeout(()=>{
                        $('.loading-screen').hide()
                        $('.prod-cards').show()
                    }, 650)
                    
            }, timetostop);
        });


        $(window).load(function() {
            $('.loading-screen').hide();
        });
    </script>


{% endblock %}