{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/discover.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}

{% block content %}

    <section id="discover-hero" class="hero is-medium is-black">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title has-text-weight-bold" style="font-size: 3rem;">
                    Discover
                </h1>
                <h2 class="subtitle is-size-4">
                    There's always a trip for everyone
                </h2>
            </div>
            <br>
            <div class="searchbar">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input id="searchReq" class="input is-fullwidth" type="text" placeholder="Look for a tour"
                               onkeyup="liveSearch(this.value)">
                    </div>
                    <div class="control">
                        <button class="button is-danger">
                            Search
                        </button>
                        <button class="button is-danger">
                            <i class="fas fa-dice"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class='section'>
        <div class='container'>
            <div class="dropdown is-hoverable is-pulled-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Filter By:</span>
                        <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                            Highest Relevance
                        </a>
                        <a href="#" class="dropdown-item">
                            Highest Rating
                        </a>
                        <a href="#" class="dropdown-item">
                            Newest Listings
                        </a>
                        <a class="dropdown-item">
                            Closest Proximity
                        </a>
                        <a href="#" class="dropdown-item">
                            Lowest to Highest Price
                        </a>
                        <a class="dropdown-item">
                            Highest to Lowest Price
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section">
        <h1>Nothing found!</h1>
    </section>
{% endblock %}