{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="../../public/css/shop.css">
    <link rel="stylesheet" href="../../public/css/rating.css">
{% endblock %}

{% block content %}
    <section class='section'>
        <div class="content has-text-centered">
            <h1>Rate your tour experience!</h1>
        </div>

        <div class='columns is-centered'>
            <div class='column is-half'>
                <div class='box'>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <div class="ml-4">
                                <div class="mb-2 listing-author">
                                    <div class="profile-img" style="background-image: url('/public/pfp.jpg');"></div>
                                    <div class="ml-2"><b>HideThePain69</b></div>
                                </div>
                                <h1 class='title'>Bishan Nightlife</h1>
                                <p class="subtitle">Explore the night life of Bishan</p>
                                <br>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box listing-img" style="background-image: url('/public/places/bishan.jpg');"></div>
                        </div>
                    </div>

                    <form>
                        <fieldset>


                            <div class="field">
                                <label class="label" for="review">Leave a review</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="What were some things you enjoyed about this experience? How can it be improved?" id="review" name="review"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="review-submit"></label>
                                <div class="control">
                                    <button id="review-submit" name="review-submit" class="button is-success is-medium is-fullwidth">Submit your review</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
