{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="../../public/css/global/shop.css">
    <link rel="stylesheet" href="../../public/css/global/rating.css">
    <link rel="stylesheet" href="/css/pages/all_bookings.css">
    <script src="/js/jquery.raty.js"></script>
{% endblock %}

{% block content %}
    <section class='section'>
        <div class="content has-text-centered">
            <h1>Rate your tour experience!</h1>
        </div>

        <div class='columns is-centered'>
            <div class='column is-half'>
                <div class='box'>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <div class="ml-4">
                                <div class="listing-author">
                                    <div class="profile-img"
                                         style="background-image: url('data:image/jpeg;base64, {{ tour.tg_img }}')">
                                    </div>
                                    <div class="ml-2"><b>{{ tour.tg_name }}</b> <span>is offering:</span>
                                    </div>
                                </div>
                                <h1 class='title'>{{tour.tour_name}}</h1>
                                <p class="subtitle truncate is-size-6 has-text-grey">{{ tour.tour_desc }}</p>
                                <br>
                            </div>
                        </div>
                        <div class="column">
                                    <div class="box listing-img"
                                         style="background-image: url('data:image/jpeg;base64, {{ tour.tour_img }}');"></div>
                        </div>
                    </div>

                    <form>
                    <!-- <form id='review_form' method="POST" action="{{ url_for('review', book_id=book_id) }}"> -->
                        <!-- {{ form.csrf_token }} -->
                        <fieldset>
                            <div class="field has-text-centered">
                                <div class="star"></div>
                            </div>

                            <div class="field">
                                <label class="label" for="review">Leave a review</label>
                                <div class="control">
                                    <textarea class="textarea"
                                              placeholder="What were some things you enjoyed about this experience? How can it be improved?"
                                              id="review" name="review"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="review-submit"></label>
                                <div class="control">
                                    <button id="review-submit" name="review-submit"
                                            class="button is-success is-medium is-fullwidth">Submit your review
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.star').raty({
            path: '/imgs',
            starOn: 'star-on-big.png',
            starOff: 'star-off-big.png'
        });
    </script>

{% endblock %}
