{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/pages/tourlisting.css">
    <link rel='stylesheet' href='/css/frameworks/bulma-timeline.min.css'>
{% endblock %}

{% block content %}
    <section class="section" style="padding-top: 5rem">
        <div class="container">
            <div class="box">
                <div class="tour-img" style="background-image: url('data:image/jpeg;base64, {{ item['tour_img'] }}');">
                    <h1 class="title has-text-white is-1">{{ item.tour_name }}</h1>
                </div>
                <div class="columns pt-3 is-variable is-5 p-5">
                    <div class="column is-one-quarter">
                        <h3 class="title is-4">Tour guide</h3>
                        <div class="box mb-2 list-author has-background-black">
                            <div class="profile-img"
                                 style="background-image: url('data:image/jpeg;base64, {{ item['tg_uid']|user_pfp }}');"></div>
                            <div class="ml-2 has-text-white"><b><a class='has-text-white' href='/users/{{ item["tg_uid"] }}'>{{ item['tg_uid']| user_name }}</a></b></div>
                        </div>
                        <hr>
                        <h3 class="title is-4">Pricing</h3>
                        <p class="has-text-weight-light is-size-2 has-text-dark"><small class="is-size-5">From</small>
                            ${{ item.tour_price }}
                        </p>
                    </div>

                    <div class="column">
                        <div class="tour-content">
                            <h3 class="title is-4">About this tour</h3>
                            <p>{{ item.tour_desc }}</p>
                            <br>
                            {% for location in item.tour_location %}
                                <span class="tag is-success">{{ location }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class='column'>
                        <div class="tour-content">
                            <h3 class="title is-4">Available Days</h3>
                            <ul>
                                {% for day in item.tour_days %}
                                    <li>{{ day }}</li>
                                {% endfor %}                            
                            </ul>
                        </div>
                        
                        <br>

                        <div class="tour-content">
                            <h3 class="title is-4">Tour Timings</h3>
                            {% for timing in item.tour_time %}
                                {{ timing }}
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="tour-footer has-background-light">
                    <div class="buttons">

                        {% if editable == True %}

                            <a class="button is-white" style="color:rgb(226, 48, 78)"
                                href='/listings/delete/{{ item["_id"] }}'><i class="fas fa-trash-alt"></i>&ensp;Delete</a>
                            <a class="button has-text-link" href='/listings/edit/{{ item["_id"] }}'><i
                                class="fas fa-clipboard"></i>&ensp;Edit Listing</a>

                            {% if display_listing == True %}
                            <a class="button has-text-link" href='/listings/hide/{{ item["_id"] }}'><i
                                class="fas fa-clipboard"></i>&ensp;Hide Listing</a>
                            {% else %}
                            <a class="button has-text-link" href='/listings/show/{{ item["_id"] }}'><i
                                class="fas fa-clipboard"></i>&ensp;Show Listing</a>
                            
                            <p class='has-text-danger is-italic'>Listing is currently hidden!</p>
                            {% endif %}




                        {% else %}
                            <a class="button has-text-primary" href='/discover/{{ item["_id"] }}/booknow'><i
                                    class="fas fa-arrow-right"></i>&ensp;Book now</a>

                            {% if inside_wl == True %}
                                <a class="button" style="color:rgb(226, 48, 78)" href='/me/wishlist/remove/{{ item["_id"] }}'><i
                                    class="fas fa-heart-broken"></i>&ensp;Remove from wishlist</a>
                                {% else %}
                                <a class="button" style="color:rgb(226, 48, 78)" href='/me/wishlist/add/{{ item["_id"] }}'><i
                                        class="fas fa-heart"></i>&ensp;Add
                                    to wishlist</a>
                            {% endif %}

                            <a class="button" style="color:rgb(48, 119, 226)" href='/listings/chat/{{ item["_id"] }}'><i
                                class="fas fa-comment"></i>&ensp;Chat with Guide</a>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section" style="padding-top: 5rem">
        <div class="container">
            <h1 class='title'>Tour Itinerary</h1>

            <div class='box'>
                <div class='timeline is-centered'>
                    <header class="timeline-header">
                        <span class="tag is-medium is-primary">Start Tour!</span>
                    </header>

                    {% for itinerary in item.tour_itinerary %}

                        <div class="timeline-item is-success">
                            <div class="timeline-marker is-success"></div>
                            <div class="timeline-content">
                                <p>{{ itinerary }}</p>
                            </div>
                        </div>

                    {% endfor %}



                    <div class="timeline-header">
                        <span class="tag is-medium is-primary">End</span>
                    </div>
                </div>
            </div>

            <!--Start of review cards-->
            <h1 class='title'>Reviews for this tour</h1>
            {%if reviews_list %}
            {% for review in reviews_list %}
            <article class="media box">
                <div class="media-left">
                    <div class="profile-img"
                    style="background-image: url('data:image/jpeg;base64, {{ review['reviewer']|user_pfp }}');"></div>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong class="pr-5">{{ review['reviewer']| user_name }}</strong>
                            {% set stars = review.stars | int %}
                            {% for i in range(stars)%}
                            <span class="fas fa-star checked"></span>
                            {% endfor %}
                            {% for i in range(5 - stars)%}
                            <span class="fas fa-star"></span>
                            {% endfor %}
                            <br>
                            {{review.text}}
                        </p>
                    </div>
                </div>
            </article>
            {% endfor %}
            {% else %}
            <div class="has-text-grey has-text-centered mt-5 mb-5">
                This Tour does not have any reviews yet!
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}