{% extends 'baseAdmin.html' %}

{% block scripts %}
    <!--<link rel="stylesheet" href="/css/global/shop.css">-->
    <link rel="stylesheet" href="/css/global/navbar.css">
    <link rel="stylesheet" href="/css/dashboards/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section id="admin-hero" class="hero is-dark is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Manage Tickets
                </h1>
                <h2 class="subtitle">
                    View tickets, Change Status
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <table class="table is-fullwidth" id="ticket_list">
                <tr class="is-vcentered">
                    <th>Ticket ID</th>
                    <th style="display: none;">User ID</th>
                    <th>Support Type</th>
                    <th style="display: none;">Link</th>
                    <th style="display: none;">Content</th>
                    <th>Status</th>
                    <th>More Details</th>
                </tr>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket['_id'] }}</td>
                        <td style="display: none;">{{ ticket['uid'] }}</td>
                        <td>{{ ticket['support_type'] }}</td>
                        <td style="display: none;">{{ ticket['link'] }}</td>
                        <td style="display: none;">{{ ticket['content'] }}</td>
                        <td>{{ ticket['status'] }}</td>
                        <td>
                            <span class="viewbtn tag is-success is-light is-size-5 is-clickable" onclick="$('#TicketStatusModal').fadeIn('fast'); return false;">
                                View More
                            </span>
                        </td>
                    </tr>

                {% endfor %}
                {#Start of modal#}
                <div class="modal is-clipped is-active" id="TicketStatusModal" style="display: none;">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <p class="is-size-5 has-text-weight-bold has-text-centered">User Information</p>

                            <div class="field">
                                <label class="label" for="tid">Ticket ID:</label>
                                <div class="control">
                                    <input class="input" type="text" id="tid" readonly>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="uid">User ID:</label>
                                <div class="control">
                                    <input class="input" type="text" id="uid" readonly>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="support_type">Support Type:</label>
                                <div class="control">
                                    <input class="input" type="text" id="support_type" readonly>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="link">Link:</label>
                                <div class="control">
                                    <input class="input" type="text" id="link" readonly>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="content">Content:</label>
                                <div class="control">
                                    <textarea class="textarea" id="content" rows="8"></textarea>
                                </div>
                            </div>

                            <form class="form-horizontal" action="/admin/tickets" method="POST">
                                {{ form.csrf_token }}
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="hidden" id="ticket_id" name="ticket_id" readonly>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="status">Status:</label>
                                    <div class="select">
                                        {{ form.status(id="status", type="select", class="input") }}
                                        <ul>
                                            {% for error in form.status.errors %}
                                                <li class="has-text-danger"> {{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="field is-grouped is-grouped-centered mt-5 has-text-centered">
                                    <div class="control">
                                        <button class="button is-danger is-light" id="closebtn" onclick="$('#TicketStatusModal').fadeOut('fast');">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="control">
                                        <input type="submit" class="button is-success" id="change-status" name="change-status" value="Update Status"
                                               onclick="$('#TicketStatusModal').fadeOut('fast');">
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="$('#TicketStatusModal').fadeOut('fast');"></button>
                </div>
            </table>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#ticket_list").on('click', '.viewbtn', function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
                var col2 = currentRow.find("td:eq(1)").text(); // get current row 2nd TD value
                var col3 = currentRow.find("td:eq(2)").text(); // get current row 3rd TD value
                var col4 = currentRow.find("td:eq(3)").text(); // get current row 4th TD value
                var col5 = currentRow.find("td:eq(4)").text(); // get current row 5th TD value
                var col6 = currentRow.find("td:eq(5)").text(); // get current row 6th TD value

                $('#ticket_id').val(col1);
                $('#tid').val(col1);
                $('#uid').val(col2);
                $('#support_type').val(col3);
                $('#link').val(col4);
                $('#content').val(col5);
                $('#status').val(col6);
            });
        });
    </script>
{% endblock %}
