{% extends 'baseAdmin.html' %}

{% block scripts %}
    <!--<link rel="stylesheet" href="/css/global/shop.css">-->
    <link rel="stylesheet" href="/css/global/navbar.css">
    <link rel="stylesheet" href="/css/dashboards/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section id="admin-hero" class="hero is-dark is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Manage Tickets
                </h1>
                <h2 class="subtitle">
                    View tickets, Change Status
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <table class="table is-fullwidth">
                <tr class="is-vcentered">
                    <th>Ticket ID</th>
                    <th>Support Type</th>
                    <th>Status</th>
                    <th>More Details</th>
                </tr>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket['_id'] }}</td>
                        <td>{{ ticket['support_type'] }}</td>
                        <td>{{ ticket['status'] }}</td>
                        <td>
                            <span class="tag is-success is-light is-size-5 is-clickable" onclick="$('#TicketStatusModal').fadeIn('fast')">
                                View More
                            </span>
                        </td>
                    </tr>
                    {#Start of modal#}
                    <div class="modal is-clipped is-active" id="TicketStatusModal" style="display: none;">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box">
                                <p class="is-size-5 has-text-weight-bold has-text-centered">User Information</p>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">ID:</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control">
                                                <input class="input is-static" type="text" value="{{ person['_id'] }}" readonly>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">User Name:</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control">
                                                <input class="input is-static" type="text" value="{{ person['name'] }}" readonly>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Email:</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control">
                                                <input class="input is-static" type="text" value="{{ person['email'] }}" readonly>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-horizontal" action="/admin/tickets" method="POST">
                                    {{ form.csrf_token }}
                                    <div class="field">
                                        <label class="label" for="status">Status:</label>
                                        <div class="control">
                                            {{ form.status(id="status", type="select", class="input") }}
                                        </div>
                                    </div>
                                </form>
                                <div class="field is-grouped is-grouped-centered mt-5 has-text-centered">
                                    <div class="control">
                                        <button class="button is-danger is-light" id="closebtn" onclick="$('#TicketStatusModal').fadeOut('fast');">
                                            Cancel
                                        </button>
                                    </div>
                                    <form id="ChangePassword" method="POST">
                                        <div class="control">
                                            <input type="submit" class="button is-success" id="change-status" name="change-status" value="Update Status"
                                                   onclick="$('#TicketStatusModal').fadeOut('fast');">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close" onclick="$('#TicketStatusModal').fadeOut('fast');"></button>
                    </div>
                {% endfor %}
            </table>
        </div>
    </section>
    {% if form.errors %}
        <script>
            $('#TicketStatusModal').fadeIn('fast');
        </script>
    {% endif %}
    <script defer src="/js/admin.js"></script>
{% endblock %}
