.recipient-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.recipient-header-lower {
    padding-top:0 !important;
    border-bottom: 4px #fff dashed;
}

#messageContainer {
    height: 50vh;
    overflow: scroll;
}