#hero-box {
    padding-top: 6rem;
}

#hero-box {
    padding-top: 6rem;
}

#hero-content {
    background: url("/imgs/discover.jpg") center scroll no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    padding: 5rem 0;
    text-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.searchbar-container {
    background: rgba(255, 255, 255, 0.7);
    transition: ease 0.5s all;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.searchbar-container:hover {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: saturate(180%) blur(30px);
}

.searchbar-container input {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.searchbar-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    opacity: 1; /* Firefox */
}