.profile-img-onprofile {
    height: 120px;
    width: 120px;
    border: 1px rgb(12, 12, 12) lid;
    border-radius: 99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
