<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourister - Tours by locals.</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"
        integrity="sha512-G3jAqT2eM4MMkLMyQR5YBhvN5/Da3IG6kqgYqU9zlIH4+2a+GuMdLb5Kpxy6ItMdCfgaKlo2XFhI0dHtMJjoRw=="
        crossorigin="anonymous"></script>
    <script>
        Turbolinks.start()
    </script>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>

<body>
    {% block nav %}


    <nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item has-text-weight-bold" href="/">Tourister</a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <a class="navbar-item" href="{{url_for('market')}}">
                        Discover
                    </a>
                    <a class="navbar-item" href="{{url_for('support')}}">
                        Support
                    </a>
                </div>


                <div class="navbar-end">
                    <a class="navbar-item" href="/s/" class="has-tooltip-arrow has-tooltip-bottom"
                        data-tooltip="Tooltip content on top">

                    </a>
                    <a class="navbar-item has-text-primary-dark" href="{{url_for('sellerDashboard')}}">
                        <i class="fas fa-arrow-right"></i>&ensp;Tour Guide mode
                    </a>
                    <a class="navbar-item" href="/chat">
                        <i class="fas fa-bookmark"></i>
                    </a>
                    <a class="navbar-item" href="/support">
                        <i class="fas fa-heart"></i>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-item">
                            <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
                        </a>

                        <div class="navbar-dropdown is-boxed is-right">
                            <div class="has-background-light p-4 mb-2 has-text-black">
                                <p class="has-text-weight-bold">Logged in as</p>
                                <p>HidethePain69</p>
                            </div>
                            <a class="navbar-item" href="{{url_for('profile')}}">
                                Your profile
                            </a>
                            <a class="navbar-item" href='{{url_for("ownlisting")}}'>
                                Your listings
                            </a>
                            <a class="navbar-item" href='{{url_for("all_bookings")}}'>
                                Your bookings
                            </a>
                            <a class="navbar-item" href='{{url_for("accountinfo")}}'>
                                Account settings
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item has-text-danger-dark">
                                <i class="fas fa-sign-out-alt"></i>&ensp;Sign out
                            </a>
                        </div>
                    </div>
                </div>



                <!-- <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-info is-light" href='/signup'>
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href='/login'>
                Log in
              </a>
            </div>
          </div>
        </div> -->


            </div>
    </nav>

    {% endblock %}

    {% block content %}
    {% endblock%}
</body>

</html>