<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourister - Tours by locals.</title>
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="/">Tourister</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="/discover">
            Discover
          </a>
          <a class="navbar-item" href="/help">
            Helpdesk
          </a>
        </div>

        <!-- <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-info is-light">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div> -->
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item">
              <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
            </a>

            <div class="navbar-dropdown">
              <div class="has-background-light p-4 mb-2">
                <p class="has-text-weight-bold">Logged in as</p>
                <p>HideThePain69</p>
              </div>
              <a class="navbar-item">
                My profile
              </a>
              <a class="navbar-item">
                My bookings
              </a>
              <a class="navbar-item">
                Account settings
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                <i class="fas fa-sign-out-alt"></i>&ensp;Sign out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>

</html>