{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
{% endblock %}


{% block content %}
    <div class="columns">


        <!-- Side Profile Page -->
        <div class="column is-one-quarter mt-6">
            <div class="section">
                <button class="button is-active is-fullwidth">Account Info</button>
                <button class="button is-active">Billing</button>
            </div>
        </div>


        <!-- Content -->
        <div class="column mt-6 pt-6">


        </div>

    </div>
{% endblock %}
