{% extends 'base.html' %}


{% block title %}Tourister - Tours By Locals {% endblock %}


{% block scripts %}
<link rel="stylesheet" href="/css/shop.css">
{% endblock %}


{% block content %}
<!-- WIP -->
<section class="section">
    <div class="container">
        <h1 class="title is-size-2">Bookings</h1>

        <!-- Start: Tab (Current/Previous bookings)-->
           <div class="tabs is-toggle">
              <ul>
                <li class="is-active">
                  <a>Current Bookings</a>
                </li>
                <li>
                  <a>Past Bookings</a>
                </li>
              </ul>
            </div>
        <!-- End: Tabs -->
    </div><br>

    <!-- START: Horizontal Card -->
    <div class="container">
        <div class='box p-5'>
            <div class="columns">
                <div class="column">
                    <div class="ml-4">
                        <!-- insert timeline using bulma steps extension-->
                        <div class="mb-2 listing-author">
                            <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
                            <div class="ml-2"><b>HideThePain69</b> is offering:</div>
                        </div>
                        <h1 class='title'>Bishan Nightlife</h1>
                        <p class="subtitle">Explore the night life of Bishan</p>
                        <br>
                    </div>
                    <div class="buttons">
                        <a class="button is-white has-text-primary"><i class="fas fa-comment-alt"></i>&ensp;View Chat</a><br>
                        <!-- insert dropdown for options: Initiate/Terminate, View Latest Itinerary, Make Payment, Feedback-->
                        <a class="button is-white has-text-primary"></i>&ensp;Options</a>
                    </div>
                </div>
                <div class="column is-two-fifths">
                    <div class="box listing-img" style="background-image: url('/places/bishan.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
        <!-- END: Horizontal Card -->
</section>

{% endblock %}