{% extends 'base.html' %}

{% block scripts %}
<!--<link rel="stylesheet" href="css/chat.css">-->
{% endblock %}



{% block content %}
<!--WIP-->
<!--HEADER-->
<section class="section has-background-primary-dark has-text-white pb-0">
    <div class="container p-5">
    <a href="{{url_for('bookings')}}" class="button is-success is-light is-size-6">
        <i class="fas fa-chevron-left"></i>&ensp;Bishan Nightlife</a>
        <br>
    <div class="listing-author mt-2">
        <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
        <div class="ml-2 is-size-3"><b>HideThePain69</b></div>
    </div>
</div>
</section>
<!--End: header-->


<section class="section">
    <div class="container chat-main">
        <div class="box">
            <!--START: Messages-->
            <div style="height:340px;">

                <div class="box has-background-info-light ml-6 py-4">
                    <article class="media">
                      <div class="media-content">
                        <div class="content is-pulled-right">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                          </p>
                        </div>
                      </div>
                      <div class="media-right">
                        <figure>
                            <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
                        </figure>
                      </div>
                    </article>
                  </div>

                <div class="box has-background-success-light mr-6 py-4">
                    <article class="media">
                      <div class="media-left">
                        <figure>
                            <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>


            </div>
            <!--END: Messages-->

            <!--START: Input field-->
            <div class="field has-addons">
              <div class="control">
                  <!--Dropup-->
                  <div class="dropdown post-options is-hoverable is-up">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-post">
                        <span class="icon is-small">
                          <i class="fas fa-paperclip"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu-post" role="menu">
                      <div class="dropdown-content">
                        <a class="dropdown-item">
                          <i class="fas fa-photo-video"></i>&ensp;Photos & Videos
                        </a>
                        <a class="dropdown-item">
                          <i class="fas fa-file"></i>&ensp;Documents
                        </a>
                      </div>
                    </div>
                  </div>
                  <!--END: Dropup-->
              </div>
              <div class="control is-expanded">
                  <input class="input is-fullwidth" type="text" placeholder="Enter your message..">
              </div>
              <div class="control">
                  <button class="button is-primary">
                    <i class="fas fa-paper-plane"></i>
                  </button>
              </div>
          </div>
            <!--END: Input Field-->
        </div>
    </div>
</section>

{% endblock %}

