{% extends 'base.html' %}

{% block scripts %}
<link rel="stylesheet" href="/public/css/shop.css">
<link rel="stylesheet" href="/public/css/index.css">
{% endblock %}


{% block content %}
<div class="columns">


    <!-- Side Profile Page -->
    <div class="column is-one-quarter">
        <div class="section">
            <div class="box is-centered">
                <div class="profile-img" style="background-image: url('/pfp.jpg');"></div>
                <p class="title is-5 is-spaced">HideThePain69</p>
                <p class="subtitle is-6">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
        </div>
    </div>


    <!-- Con4ent -->
    <div class="column">
    </div>

</div>
{% endblock %}
