{% extends 'base.html' %}

{% block scripts %}
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/rating.css">
{% endblock %}

{% block content %}
<section class="section">
    <div class='box p-5'>
        <h1 class="title has-text-centered">Let's rate your tour experience</h1>
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="ml-4">
                        <div class="mb-2 listing-author">
                            <div class="profile-img" style="background-image: url('/public/pfp.jpg');"></div>
                            <div class="ml-2"><b>HideThePain69</b></div>
                        </div>
                        <h1 class='title'>Bishan Nightlife</h1>
                        <p class="subtitle">Explore the night life of Bishan</p>
                        <p class="has-text-weight-light is-size-2 has-text-dark"><small class="is-size-5">From</small>
                            $100
                        </p>
                        <br>
                    </div>
                </div>
                <div class="column">
                    <div class="box listing-img" style="background-image: url('/public/places/bishan.jpg');"></div>
                </div>
            </div>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        </div>
</section>
{% endblock %}
