{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <link rel="stylesheet" href="/css/pages/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.9/dist/css/bulma-calendar.min.css">
{% endblock %}


{% block content %}>

    <section class="section has-background-white">
        <div class="container">
            <h1 class="is-size-1 has-text-weight-bold mt-6">Account Settings & Preferences</h1>
        </div>
    </section>

    <div class="container">
        <div class="columns">
            <!-- Side Profile Page -->
            <div class="column is-one-fifth">
                <div class="section">
                    <div class="box is-centered p-0">
                        <p>
                            <button class="button is-fullwidth is-active">Account Info</button>
                        </p>
                        <p>
                            <button class="button is-fullwidth">Billing</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="column">
                <div class="section">
                    <!-- Update account settings -->
                    <h1 class="is-size-4 has-text-left has-text-weight-bold">Account Details</h1>
                    <form class="form-horizontal" action="/me/settings" method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <fieldset>
                            <div class="field">
                                <label class="label" for="account_mode">Account Mode</label>
                                <div class="umode control">
                                    {{ form.account_mode(id="account_mode", type="select", class="input") }}
                                    <ul>
                                        {% for error in form.account_mode.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="name">Name:</label>
                                <div class="control">
                                    {{ form.name(id="name", type="text", class="input", placeholder="", value=user.name) }}
                                    <ul>
                                        {% for error in form.name.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class='field'>
                                <label class="label" for="name">Profile Image: </label>
                                <div class="file has-name is-boxed">
                                    <label class="file-label">
                                        {{ form.profile_img(class="file-input", id='uploadImg', type="file", onchange="if
                            (this.files.length > 0) document.getElementById('filename-profile-img').innerHTML =
                            this.files[0].name;") }}
                                        <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Upload an Image...
                                </span>
                            </span>
                                        <span class="file-name" id='filename-profile-img'>
                            </span>
                                    </label>
                                </div>
                            </div>

                            {% for error in form.profile_img.errors %}
                                <li class="has-text-danger"> {{ error }}</li>
                            {% endfor %}

                            <div>
                                <img id="currentImg"/>
                            </div>

                            <div class="field">
                                <label class="label" for="password">Password:
                                    <input class="button is-primary" type="button" id="openbtn" name="openbtn" value="Change Password" onclick="$('#ChangePasswordModal').fadeIn('fast'); return false;">
                                    {#                                    <button class="button is-danger " >Change Password</button>#}
                                </label>
                            </div>

                            <div class="field">
                                <label class="label" for="email">Email Address:</label>
                                <div class="control">
                                    {{ form.email(id="email", type="text", class="input", placeholder="", value=user.email) }}
                                    <ul>
                                        {% for error in form.email.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="phone_number">Phone Number:</label>
                                <div class="control">
                                    {{ form.phone_number(id="phone_number", type="text", class="input", placeholder="", value=user.phone_number) }}
                                    <ul>
                                        {% for error in form.phone_number.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <h1 class="is-size-4 has-text-left has-text-weight-bold pt-3">Social Media</h1>
                            <div class="field">
                                <label class="label" for="name">Facebook:</label>
                                <div class="control">
                                    {{ form.fb(id="fb", type="text", class="input", placeholder="", value=user.socialmedia["fb"]) }}
                                    <ul>
                                        {% for error in form.fb.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="insta">Instagram:</label>
                                <div class="control">
                                    {{ form.insta(id="insta", type="text", class="input", placeholder="", value=user.socialmedia["insta"]) }}
                                    <ul>
                                        {% for error in form.insta.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="linkedin">LinkedIn:</label>
                                <div class="control">
                                    {{ form.linkedin(id="linkedin", type="text", class="input", placeholder="", value=user.socialmedia["linkedin"]) }}
                                    <ul>
                                        {% for error in form.linkedin.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="submit-setting"></label>
                                <div class="control">
                                    <input type='submit' value='Update!' id="submit-setting" name="submit-setting"
                                           class="button is-success">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#Start of modal#}
    <div class="modal is-clipped" id="ChangePasswordModal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="is-size-5 has-text-weight-bold has-text-centered">Update Password?</p>
                <p class="has-text-centered">Feel free to change your password anytime.</p>
                <form class="form-horizontal" action="/me/settings" method="POST">
                    {{ form1.csrf_token }}
                    <div class="field">
                        <label class="label" for="old_password">Current Password:</label>
                        <div class="control">
                            {{ form1.old_password(id="old_password", type="password", class="input") }}
                            <ul>
                                {% for error in form1.old_password.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="password">New Password:</label>
                        <div class="control">
                            {{ form1.password(id="password", type="password", class="input") }}
                            <ul>
                                {% for error in form1.password.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="confirm">Confirm New Password:</label>
                        <div class="control">
                            {{ form1.confirm(id="confirm", type="password", class="input") }}
                            <ul>
                                {% for error in form1.confirm.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered mt-5 has-text-centered">
                        <div class="control">
                            <button class="button is-danger is-light" id="closebtn" onclick="$('#ChangePasswordModal').fadeOut('fast');">
                                Cancel
                            </button>
                        </div>
                        <form id="ChangePassword" method="POST">
                            <div class="control">
                                <input type="submit" class="button is-success" id="change-pass" name="submit-change-pass" value="Update Password"
                                       onclick="$('#ChangePasswordModal').fadeOut('fast');">
                            </div>
                        </form>
                    </div>
                </form>

            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="$('#ChangePasswordModal').fadeOut('fast');"></button>
    </div>
    {% if form1.errors %}
        <script>
            $('#ChangePasswordModal').fadeIn('fast');
        </script>
    {% endif %}
    <script>
        $("#openbtn").click(function () {
            $(".modal").addClass("is-active");
        });

        $(".modal-close").click(function () {
            $(".modal").removeClass("is-active");
        });

        $(".closebtn").click(function () {
            $(".modal").removeClass("is-active");
        });
    </script>
{% endblock %}
