{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
{% endblock %}


{% block content %}>
    <div class="container">
        <h1 class="is-size-1 has-text-weight-bold mt-6">My Settings</h1>
        <div class="columns">

            <!-- Side Profile Page -->
            <div class="column is-one-fifth">
                <div class="section">
                    <div class="box is-centered p-0">
                        <p>
                            <button class="button is-fullwidth is-active">Account Info</button>
                        </p>
                        <p>
                            <button class="button is-fullwidth">Billing</button>
                        </p>
                    </div>
                </div>

            </div>
            <!-- Content -->
            <div class="column">
                <div class="section">
                    <!-- Update account settings -->
                    <h1 class="is-size-4 has-text-left has-text-weight-bold">Account Info</h1>
                    <p class="is-size-5">Username: Coolion</p>
                    <p class="is-size-5">Password: **************</p>
                    <p class="is-size-5">Phone Number: +65 **** 1234</p>
                    <p class="is-size-5">Email Address: B******@gmail.com</p>

                    <!-- Update personal details -->
                    <h1 class="is-size-4 has-text-left has-text-weight-bold pt-3">Personal</h1>
                    <p class="is-size-5">Birthday</p>
                    <p class="is-size-5">Gender</p>
                    <p class="is-size-5">Language</p>

                    <!-- Social Media -->
                    <h1 class="is-size-4 has-text-left has-text-weight-bold pt-3">Social Media</h1>
                    <div class="field">
                        <label class="label">Facebook</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g. www.facebook.com/Derpy">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Instagram</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g. www.instagram.com/Derpy">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">LinkedIn</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g. www.linkedin.com/Derpy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
