{% extends 'base.html' %}

{% block scripts %}
{% endblock %}


{% block content %}
<br><br><br><br><br><br>
<section id="hero-box" class="section">
    <div id="hero-content" class="container box has-text-centered">
        <h2 class="subtitle is-size-4">
            {{ message }}
            <br><br><br>
            <a class="button is-white" style="color:rgb(83, 211, 58)"
                                href='/'><i class="fas fa-sign-out-alt" data-fa-transform="rotate-180"></i>&ensp;Back to Homepage</a>
        </h2>
    </div>
</section>
{% endblock %}