{% extends 'baseTour.html' %}

{% block scripts %}
    <!--<link rel="stylesheet" href="/css/global/shop.css">-->
    <link rel="stylesheet" href="/css/global/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered discover-hero">
            <h1 class="title has-text-weight-bold has-text-white" style="font-size: 4rem;">
                <span class="has-text-weight-light">Welcome back</span> {{ user.name }}
            </h1>
            <h2 class="subtitle is-size-4 has-text-light">
                Your performance, earnings and ratings
            </h2>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-right">
                    <div class="level-item">
                        <button onclick="$('#reportGenerationModal').fadeIn('fast');" type="button" class="button is-success">
                            <i class="fas fa-download"></i>&ensp;Generate new report
                        </button>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column">
                    <div class="box">
                        <div class="heading">Your Net Earnings</div>
                        <div class="title">$696 <span class="tag is-danger is-light">-$18</span></div>
                        <div class="level">
                            <div class="level-item">
                                <div>
                                    <div class="heading">Gross Income</div>
                                    <div class="title is-5">$768</div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div>
                                    <div class="heading">Expenses</div>
                                    <div class="title is-5">$72</div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div>
                                    <div class="heading">Expense Ratio</div>
                                    <div class="title is-5">9.38%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="heading">Your Satisfaction</div>
                        <div class="title">96.4% <span class="tag is-success is-light">+10%</span></div>
                        <div class="level">
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Positive</div>
                                    <div class="title is-5">54</div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Negative</div>
                                    <div class="title is-5">2</div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Overall rate</div>
                                    <div class="title is-5">78.6%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="heading">Impressions</div>
                        <div class="title">128 <span class="tag is-success is-light">+2</span></div>
                        <div class="level">
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Click-through rate</div>
                                    <div class="title is-5">20%</div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Booking rate</div>
                                    <div class="title is-5">90%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column is-6">
                    <div class="panel">
                        <p class="panel-heading">
                            Earnings Breakdown
                        </p>
                        <div class="panel-block">
                            <canvas id="incomeChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="panel">
                        <p class="panel-heading">
                            Satisfaction Rate
                        </p>
                        <div class="panel-block">
                            <canvas id="csatChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="reportGenerationModal" class="modal is-active" style="display: none;">
        <div class="modal-background"></div>
        <div class="modal-card box" style="padding: 3em;">
            <p class="title is-3 has-text-weight-bold has-text-centered">Generate Report</p>
            <p class="mb-3">Enter month and year of report to generate.<br>You may leave this blank to get a full report for your entire account.</p>
            <form method="POST" action="{{ url_for('sellerDashboard') }}" target="_blank">
                {{ form.csrf_token }}
            <div class="field is-grouped">
                <p class="control is-expanded">
                        <!-- <input id="registerEmail" class="input" type="text" placeholder="Email"> -->
                        {{ form.date_filter(type="month", class="input", placeholder="Month") }}
                        <!-- <span class="icon is-small is-left">
                    </span> -->
                </p>
                <p class="control">
                  <button onclick="$('#reportGenerationModal').fadeOut('fast');$('#reportGenerationModalResult').fadeIn('fast');" class="button is-primary" type="submit">
                    <i class="fas fa-arrow-right"></i>&nbsp;Generate
                  </button>
                </p>
              </div>
            </form>
            <a onclick="$('#reportGenerationModal').fadeOut('fast');" class="button is-light is-fullwidth mt-3"><i
                    class="fas fa-times"></i>&ensp;Cancel</a>
        </div>
    </div>

    <div id="reportGenerationModalResult" class="modal is-active" style="display: none;">
        <div class="modal-background"></div>
        <div class="modal-card box" style="padding: 3em;">
            <p class="title is-3 has-text-weight-bold has-text-centered">Success</p>
            <p class="subtitle has-text-centered">Report has been downloaded to your device.</p>

            <a onclick="$('#reportGenerationModalResult').fadeOut('fast');" class="button is-light is-fullwidth mt-3"><i
                    class="fas fa-times"></i>&ensp;Close</a>
        </div>
    </div>

    <script>
    const d = new Date()
    const months = ["January", "February", "March", "April", "May", "June", 'July', 'August', 'September', 'October', 'November', 'December']
    const current_month = d.getMonth()
    var recent_months = []

    for (i = 0; i < 6; i++) {
        if (current_month - i < 0) {
            recent_months.push(months[12 - i])
        } else {
            recent_months.push(months[current_month - i])
        }
    }

        var incomeChart = document.getElementById('incomeChart').getContext('2d');
        var incomeChartData = new Chart(incomeChart, {
            type: 'line',
            data: {
                labels: recent_months.reverse(),
                datasets: [{
                    label: 'Earnings',
                    data: [533, 640, 780, 644, 743, 768],
                    backgroundColor: 'rgba(0, 145, 189, 0.2)',
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            callback: function (value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);

                                // Convert the array to a string and format the output
                                value = value.join('.');
                                return '$' + value;
                            }
                        },
                    }]
                },
                elements: {
                    line: {
                        cubicInterpolationMode: 'monotone'
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return data['labels'][tooltipItem['index']] + ': ' + '$' + data['datasets'][0]['data'][tooltipItem['index']];
                        }
                    }
                },
            }
        });

        var csatChart = document.getElementById('csatChart').getContext('2d');
        var csatChartData = new Chart(csatChart, {
            type: 'line',
            data: {
                labels: ['July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Satisfaction rate (%)',
                    data: [98.6, 97.1, 98.4, 90.2, 86.4, 96.4],
                    backgroundColor: 'rgba(224, 34, 85, 0.2)',
                    borderWidth: 0
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return data['labels'][tooltipItem['index']] + ': ' + data['datasets'][0]['data'][tooltipItem['index']] + '%';
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            callback: function (value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);

                                // Convert the array to a string and format the output
                                value = value.join('.');
                                return value + '%';
                            }
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}