{% extends 'baseTour.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/global/shop.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <script src='/js/form-persistence.js'></script>
    <script>

        let listno = 0
        let locno = 0
        var intno = 0
        var persisteditemList = Array.from({{ listing.tour_itinerary | tojson }})
        var persistedlocList = Array.from({{ listing.tour_location| tojson }})
        var persistedDayList = Array.from({{ listing.tour_days| tojson }})
        var persistedTimeList = Array.from({{ listing.tour_time| tojson }})


        {% if listing.tour_img != '' %}
            var persistedTourImg = "{{ listing.tour_img }}"
            console.log('Got an img beforehand')
        {% endif %}
        var itemList = []
        var locList = []
        var locationTags = document.getElementById('locations')
        var dayList = []
        var timingList = []





        function AppendtoDay() {
            $("input:checkbox[name=tour_days]:checked").each(function () {
                dayList.push($(this).val() + '#$%^#') 
            });
            AppendtoDayList()
        }

        function AppendtoDayList() {
            current_day_list = document.getElementById('tour-days-list')
            current_day_list.value = Array.from(dayList)
            console.log(current_day_list)
        }

        function checkDayfromList(dayValue) {
            $(`input[value='${dayValue}']`).prop("checked", true)
            console.log('checked')
        }


        function AppendtoLocation() {
            var loc = document.getElementById('tour-loc').value
            current_locs = document.getElementById('locations')

            // var template =
            // `
            //     <span class="tag is-info">${loc}</span>
            // `

            // var template =
            // `
            //     <span class="tag is-info">${loc}<a onclick="locList.splice(${locno}, 1, 'None'); current_locs.removeChild(template)>here</a></span>
            // `

            var template = document.createElement('span')
            template.className = "tag is-info"
            // template.id = `loc_${locno}`
            template.textContent = loc
            current_locs.appendChild(template)


            let removeElement = document.createElement('a');
            removeElement.textContent = '\u274c';
            removeElement.id = locno
            removeElement.addEventListener('click', () => {
                current_locs.removeChild(template)
                console.log(`Loc no is: ${locno}`)
                locList.splice(removeElement.id, 1, 'None')
                AppendtoLocationList()
            });
            template.appendChild(removeElement);

            // current_locs.innerHTML += template
            locList.push(loc + '#$%^#')
            console.log(locList)

            locno += 1

        }


        function AppendtoLocationList() {
            current_list = document.getElementById('tour-locations-list')
            current_list.value = Array.from(locList)
            console.log(current_list)
        }

        function AppendtoItem() {
            current_list = document.getElementById('tour-item-list')
            current_list.value = Array.from(itemList)
            console.log(current_list)
            console.log(current_list)
        }

        function AppendtoTimings() {
            current_list = document.getElementById('tour-timings-list')
            current_list.value = Array.from(timingList)
            console.log(current_list)
        }


        function UpdateItems() {
            document.getElementById("addItemButton").click()
        }

        // Must click the add listing button in order to get the updated version
        $('#makeListingForm').submit(() => {
            UpdateItems()
            AppendtoDay()
        });


        window.onbeforeunload = () => {
            Persistence()
        }

        function AddTiming() {
        current_start_time = $('#tour-start-time').val()
        current_end_time = $('#tour-end-time').val()
        console.log(current_start_time)
        text = 
        `
            <ul id='timing_${intno}' class='timing_interval'>
                <div class='level-left'>
                    <p class='level-item timing_interval_str'>${current_start_time} - ${current_end_time}</p>

                    <button class="button level-item" onclick="$('#timing_${intno}').remove()">
                        Delete
                    </button>
                </div>
            </ul>
        `

        intno += 1
        $('#timing-list').append(text)

    }

    function pushTimings() {
        var interval_str = $(this).text()
        timingList.push(interval_str + '#$%^#')
    }

    function loopPushTimings() {
        $(".timing_interval_str").each(pushTimings)
    }


    function AddItinerary() {
        // Dont delete element from array, but replace with 'None' instead. So can still continue to use the indexing
        current_item = document.getElementById('tour-items')
        text =
            `
            <li id='list_${listno}'>
                <div class="field has-addons" >
                    <div class="control is-expanded">
                        <input id='item_${listno}' class='input' type=text value="${current_item.value}" onkeyup="$('#item_${listno}').val($('#item_${listno}').val()); console.log($('#item_${listno}').val()); itemList.splice(${listno}, 1, $('#item_${listno}').val() + '#$%^#')">
                    </div>
                    <div class="control">
                        <button class="button" onclick="$('#list_${listno}').remove();itemList.splice(${listno}, 1, 'None');AppendtoItem()">
                            Delete
                        </button>
                    </div>
                </div>
            </li>
            <br>
        `
        $("#itinerary-list").append(`${text}`)
        itemList.push(current_item.value + '#$%^#')
        current_item.value = ''
        listno += 1
    }

    // To return the itinerary from a previously defined listing
    // tour_item is a single tour itinerary
    function AddItineraryFromList(tour_item) {
        text =
            `
            <li id='list_${listno}'>
                <div class="field has-addons" >
                    <div class="control is-expanded">
                        <input id='item_${listno}' class='input' type=text value="${tour_item}" onkeyup="$('#item_${listno}').val($('#item_${listno}').val()); console.log($('#item_${listno}').val()); itemList.splice(${listno}, 1, $('#item_${listno}').val() + '#$%^#')">
                    </div>
                    <div class="control">
                        <button class="button" onclick="$('#list_${listno}').remove();itemList.splice(${listno}, 1, 'None');AppendtoItem()">
                            Delete
                        </button>
                    </div>
                </div>
            </li>
            <br>
        `
        $("#itinerary-list").append(`${text}`)
        itemList.push(tour_item + '#$%^#')
        listno += 1
    }

    function AddTimingFromList(tour_timing) {
        text = 
        `
            <ul id='timing_${intno}' class='timing_interval'>
                <div class='level-left'>
                    <p class='level-item timing_interval_str'>${tour_timing}</p>

                    <button class="button level-item" onclick="$('#timing_${intno}').remove()">
                        Delete
                    </button>
                </div>
            </ul>
        `

        intno += 1
        $('#timing-list').append(text)
    }


    function AddLocationFromList(tour_location) {
        current_locs = document.getElementById('locations')

        var template = document.createElement('span')
        template.className = "tag is-info"
        template.textContent = tour_location
        current_locs.appendChild(template)


        let removeElement = document.createElement('a');
        removeElement.textContent = '\u274c';
        removeElement.id = locno
        removeElement.addEventListener('click', () => {
            current_locs.removeChild(template)
            console.log(`Loc no is: ${locno}`)
            locList.splice(removeElement.id, 1, 'None')
            AppendtoLocationList()
        });
        template.appendChild(removeElement);

        // current_locs.innerHTML += template
        locList.push(tour_location + '#$%^#')
        console.log(locList)

        locno += 1
    }

    </script>



{% endblock %}

{% block content %}
    {% from "_formhelper.html" import render_field %}
    <section class="section has-background-white">
        <div class="container">
            <h1 class="is-size-1 has-text-weight-bold mt-6">Edit Listing: {{ listing['tour_name'] }}</h1>
        </div>
    </section>

    <section class='section'>
        <div class="container">
            <form id='makeListingForm' class="form-horizontal" enctype="multipart/form-data"
                  action="/listings/edit/{{ listing['_id'] }}" method="POST">
                {{ form.csrf_token }}
                <fieldset>

                    <legend class='label'>Tour Name</legend>

                    <div class="field">

                        <div class="control">
                            {{ form.tour_name(id="tour-name", type="text", class="input", value = listing.tour_name ) }}
                            <ul>
                                {% for error in form.tour_name.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <legend class='label'>Tour Image</legend>
                    <div class='field'>
                        <div class="file has-name is-boxed">
                            <label class="file-label">
                                {{ form.tour_img(class="file-input", id='uploadImg', type="file", onchange="if
                            (this.files.length > 0) document.getElementById('filename-tour-img').innerHTML =
                            this.files[0].name;") }}
                                <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Upload an Image...
                                </span>
                            </span>
                                <span class="file-name" id='filename-tour-img'>

                            </span>
                            </label>
                        </div>
                    </div>

                    {% for error in form.tour_img.errors %}
                        <li class="has-text-danger"> {{ error }}</li>
                    {% endfor %}

                    <div>
                        <img id="currentImg"/>
                    </div>

                    <label class="label">Tour Available Days</label>
                    <div class='field'>
                        <div class='control'>
                            {{ form.tour_days(name='tour_days', type='checkbox', class='checkbox') }}
                            <ul>
                                {% for error in form.tour_days.errors %}
                                <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class='field'>
                        <div class='control'>
                            <input name='tour_days_list[]' , class='input' , id='tour-days-list' , type='hidden'>
                        </div>
                    </div>



                    <label class="label">Tour Timings</label>
                    <div class='field'>
                        <div class='control level-left'>
                            {{ form.tour_start_time(id='tour-start-time', class='dropdown-item level-item') }} <p class='level-item'>-</p>  {{ form.tour_end_time(id='tour-end-time', class='dropdown-item level-item') }}
                            <a id='addTimingButton' class="button" onclick="AddTiming()">
                                Add Timing
                            </a>
                            <br>
                            <ul>
                                {% for error in form.tour_end_time.errors %}
                                <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div>
                        <ol id='timing-list'></ol>
                    </div>


                    <div class='field'>
                        <div class='control'>
                            <input name='tour_timings_list[]' , class='input' , id='tour-timings-list' , type='hidden'>
                        </div>
                    </div>


                    <label class="label" for="tour-desc">Tour Description</label>
                    <div class="field">
                        <div class="control">
                            {{ form.tour_desc(class='textarea', id="tour-desc", value=listing.tour_desc) }}
                            <ul>
                                {% for error in form.tour_desc.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <label class="label" for="tour-items">Tour itinerary</label>
                    <div class="field has-addons">
                        <div class="control">
                            <a id='addItemButton' class="button" onclick="AddItinerary();AppendtoItem()">
                                Add Itinerary
                            </a>
                        </div>
                        <div class="control is-expanded">
                            {{ form.tour_items(class='input', id='tour-items', placeholder='Visit famous museum at Newton: Newton War Memorial Museum', type='text') }}
                        </div>
                    </div>


                    <div>
                        <ol id='itinerary-list'></ol>
                    </div>


                    <div class='field'>
                        <div class='control'>
                            <input name='tour_items_list[]' , class='input' , id='tour-item-list' , type='hidden'>
                        </div>
                    </div>


                    <label class="label" for="tour-loc">Tour Location</label>
                    <div class="field has-addons">
                        <div class="control">
                            <a class="button" onclick='AppendtoLocation(); AppendtoLocationList()'>
                                Add Location
                            </a>
                        </div>
                        <div class='control select'>
                            {{ form.tour_loc(id="tour-loc") }}
                        </div>
                    </div>

                    <div id='locations'></div>

                    <ul>
                        {% for error in form.tour_desc.errors %}
                            <li class="has-text-danger"> {{ error }}</li>
                        {% endfor %}
                    </ul>

                    <div class='field'>
                        <div class='control'>
                            <input name='tour_locations_list[]' , class='input' , id='tour-locations-list' ,
                                   type='hidden'>
                        </div>
                    </div>


                    <label class="label" for="tour-revs">Maximum Tour Revisions</label>
                    <div class="field">
                        <div class="control">
                            {{ form.tour_revisions(id="tour-revs", type="number", class="input", value=listing.tour_revisions ) }}
                            <ul>
                                {% for error in form.tour_revisions.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <label class="label" for="tour-price">Minimum Price ($SGD)</label>
                    <div class="field">
                        <div class="control">
                            {{ form.tour_price(id="tour-price", type="number", class="input", value=listing.tour_price) }}
                            <ul>
                                {% for error in form.tour_price.errors %}
                                    <li class="has-text-danger"> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <div class="field">
                        <div class="control">
                            <input type='submit' value='Update Listing' id="tour-submit" name="tour-submit"
                                   class="button is-success"
                                   onclick=UpdateItems();AppendtoDay()>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </section>

    <script>
        persisteditemList.forEach(AddItineraryFromList)
        AppendtoItem()

        persistedlocList.forEach(AddLocationFromList)
        AppendtoLocationList()
        
        persistedDayList.forEach(checkDayfromList)

        persistedTimeList.forEach(AddTimingFromList)


        {% if listing.tour_img != '' %}
            $('#currentImg').attr('src', 'data:image/jpeg;base64,' + persistedTourImg)
        {% endif %}

        console.log('Done!')


        var picture = null

        function toBase64(file) {
            var reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onload = function () {
                picture = reader.result
                $('#currentImg').attr('src', reader.result);
            }
            reader.onerror = function (error) {
                console.log('Error: ', error)
            }
        }

        $("#uploadImg").change(() => {
            flag = toBase64($("#uploadImg").prop('files')[0])
            console.log('this worked')
        });

        $('#makeListingForm').submit(() => {
        loopPushTimings()
        AppendtoTimings()
    });


    </script>
{% endblock %}