{% extends 'baseTour.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/index.css">
        $("#currentImg").change(function(){
        var img = $(this).val();
        $.ajax({
        medthod: 'POST',
        url:'/apis/upImg',
        data: JSON.stringify({currentImg: img}),
        success: function(data){
        $("#currentImg").attr('src', 'data:image/png;base64, ' + data);
        }
        });
        });

    <script>

        let listno = 0
        var itemList = []

        // function AppendtoItem() {
        //     current_list = document.getElementById('tour-item-list')
        //     itemJson = {'items': itemList}
        //     current_list.value = itemJson
        // }

        function AppendtoItem() {
            current_list = document.getElementById('tour-item-list')
            current_list.value = Array.from(itemList)
            console.log(current_list)
        }




        function AddItinerary() {

            current_item = document.getElementById('tour-items')
            text = 
            `
                <li id='list_${listno}'>
                    <div class="field has-addons" >
                        <div class="control is-expanded">
                            <input id='item_${listno}' class='input' type=text value="${current_item.value}" onkeyup="$('#item_${listno}').val($('#item_${listno}').val()); console.log($('#item_${listno}').val()); itemList.splice(${listno}, 1, $('#item_${listno}').val() + '#$%^#')">
                        </div>
                        <div class="control">
                            <button class="button" onclick="$('#list_${listno}').remove();itemList.splice(${listno}, 1, 'None');AppendtoItem()">
                                Delete
                            </button>
                        </div>
                    </div>
                </li>
            `
            $("#itinerary-list").append(`${text}`)
            itemList.push(current_item.value + '#$%^#')
            current_item.value = ''
            listno += 1
        }
    </script>

    

{% endblock %}

{% block content %}
    {% from "_formhelper.html" import render_field %}
    <section id="discover-hero" class="hero is-medium is-info is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title has-text-weight-bold" style="font-size: 3rem;">
                    Add a Listing <i class="fas fa-book"></i>
                </h1>
                <h2 class="subtitle is-size-4">
                    Showcase your speciality to others
                </h2>
            </div>
            <br>
        </div>
    </section>

    <section class='section'>

        <div class='columns is-centered'>
            <div class='column is-half'>
                <div class='box'>
                    <form class="form-horizontal" enctype="multipart/form-data" action="{{ url_for('makelisting') }}"
                          method="POST">
                        {{ form.csrf_token }}
                        <fieldset>

                            <legend class='label'>Tour Name</legend>

                            <div class="field">
                                <label class="label" for="tour-name"></label>
                                <div class="control">
                                    {{ form.tour_name(id="tour-name", type="text", class="input", placeholder="Bishan Eco-walk") }}
                                    <ul>
                                        {% for error in form.tour_name.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>


                            <label class="label" for="tour-img">Tour Image</label>
                            <div class="file">
                                <label class="file-label">
                                    {{ form.tour_img(class="file-input", type="file", onchange="if (this.files.length > 0) document.getElementById('filename-tour-img').innerHTML = this.files[0].name;") }}
                                    <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label" id="filename-tour-img">
                                Choose a file…
                            </span>
                            </span>
                                    <ul>
                                        {% for error in form.tour_img.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </label>
                                <div id="currentImg">
                                    <img src="data:image/png;base64, {{ imgBase64 }}"/>
                                </div>
                            </div>


                            <div class="field">
                                <label class="label" for="tour-desc">Tour Description</label>
                                <div class="control">
                                    {{ form.tour_desc(class='textarea', id="tour-desc", placeholder="This Eco-walk will take you to different Nature attractions in Bishan, including: Gardens, Parks and Trails....") }}
                                    <ul>
                                        {% for error in form.tour_desc.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>


                            <label class="label" for="tour-items">Tour itinerary</label>
                            <div class="field has-addons">
                              <div class="control">
                                <a class="button" onclick="AddItinerary();AppendtoItem()">
                                  Add Itinerary
                                </a>
                              </div>
                              <div class="control is-expanded">
                                {{ form.tour_items(class='input', id='tour-items', placeholder='Visit famous museum at Newton: Newton War Memorial Museum', type='text') }}
                              </div>
                            </div>

                            <div>
                                <ol id='itinerary-list'></ol>
                            </div>
                            


                            <div class='field'>
                                <div class='control'>
                                    <input name='tour_items_list[]', class='input', id='tour-item-list', type='hidden'>
                                </div>
                            </div>



                            <label class="label" for="tour-loc">Tour Location</label>
                            <div class="field has-addons">
                              <div class="control has-icons-left">
                                  <div class="select">
                                      {{ form.tour_loc(id="tour-loc") }}
                                  </div>
                                    <ul>
                                        {% for error in form.tour_desc.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                  <span class="icon is-large is-left">
                                        <i class="fas fa-globe"></i>
                                  </span>
                              </div>
                              <div class="control">
                                <a class="button"">
                                  Add Location
                                </a>
                              </div>
                            </div>


                            <div class="field">
                                <label class="label" for="tour-revs">Maximum Tour Revisions</label>
                                <div class="control">
                                    {{ form.tour_revisions(id="tour-revs", type="number", class="input", placeholder="3") }}
                                    <ul>
                                        {% for error in form.tour_revisions.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>



                            <div class="field">
                                <label class="label" for="tour-price">Minimum Price ($SGD)</label>
                                <div class="control">
                                    {{ form.tour_price(id="tour-price", type="number", class="input", placeholder="120") }}
                                    <ul>
                                        {% for error in form.tour_price.errors %}
                                            <li class="has-text-danger"> {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>


                            <div class="field">
                                <label class="label" for="tour-submit"></label>
                                <div class="control">
                                    <input type='submit' value='List!' id="tour-submit" name="tour-submit"
                                           class="button is-success">
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}