{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/pages/id.css">
{% endblock %}

{% block content %}
    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered discover-hero">
            <h1 class="title has-text-weight-bold has-text-white" style="font-size: 4rem;">
                tourisit<span class="has-text-weight-light">ID</span>
            </h1>
            <h2 class="subtitle is-size-4 has-text-light">
                Your pass to local tours, by locals.
            </h2>
        </div>
    </section>


    <section class="section">
        <div class="container" id="main">
            <h1 class="title">See you again soon!</h1>
            <h3 class="subtitle">You have been successfully logged out.</h3>
            <a href="{{ url_for('home') }}" class="button is-light"><i class="fas fa-home"></i>&ensp;Return to homepage</a>
            <a href="{{ url_for('login') }}" class="button is-primary is-light"><i class="fas fa-sign-in-alt"></i>&ensp;Login
                again</a>
        </div>
    </section>

{% endblock %}