{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/pages/id.css">
{% endblock %}

{% block content %}
    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered discover-hero">
            <h1 class="title has-text-weight-bold has-text-white" style="font-size: 4rem;">
                tourisit<span class="has-text-weight-light">ID</span>
            </h1>
            <h2 class="subtitle is-size-4 has-text-light">
                Your pass to local tours, by locals.
            </h2>
        </div>
    </section>



    <section class="section">
        <div class="container" id="main">
            <div id="login">
                <h1 class="title">Recover account</h1>
                <h3 class="subtitle">Reset your TourisitID's password</h3>
                <form method="POST" action="{{ url_for('forgot_password') }}">
                    {{ form.csrf_token }}
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            {{ form.email(id="loginEmail", type="email", class="input", placeholder="Email Address", required=True) }}
                            <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                        </span>
                        </div>
                    </div>
                    <br>
                    <div class="buttons">
                        <a class="button is-light has-text-grey" data-pjax='main' href="{{ url_for('login') }}"><i
                                class="fas fa-times"></i>&ensp;Cancel</a>
                        <button type="submit" class="button is-primary">Recover account&ensp;<i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% if accepted==True %}
        <div id="emailAcceptedModal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card box" style="padding: 3em;">
                <p class="title is-3 has-text-weight-bold has-text-centered">Check your email.</p>
                <p class="has-text-centered">If your email matches our records, an email with a recovery link to reset your password will be sent.</p>
                <br>
                <a onclick="$('#emailAcceptedModal').fadeOut('fast');" class="button is-light is-fullwidth"><i
                                        class="fas fa-times"></i>&ensp;Close</a>
            </div>
        </div>
    {% endif %}

{% endblock %}