{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/pages/id.css">
{% endblock %}

{% block content %}
    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered discover-hero">
            <h1 class="title has-text-weight-bold has-text-white" style="font-size: 4rem;">
                tourisit<span class="has-text-weight-light">ID</span>
            </h1>
            <h2 class="subtitle is-size-4 has-text-light">
                Your pass to local tours, by locals.
            </h2>
        </div>
    </section>



    <section class="section">
        <div class="container" id="main">
            <div id="login">
                <h1 class="title">Set a new password</h1>
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            {{ form.password(id="loginPassword", type="password", class="input", placeholder="New Password", required=True) }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="buttons">
                        <button type="submit" class="button is-primary">Continue&ensp;<i class="fas fa-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% if accepted==True %}
        <div id="passwordChanged" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card box" style="padding: 3em;">
                <p class="title is-3 has-text-weight-bold has-text-centered">Password successfully changed.</p>
                <p class="has-text-centered">You will be redirected to the login page shortly.</p>
            </div>
        </div>
        <script>
            setTimeout(function () {
                window.location.replace("{{ url_for('login') }}")
            }, 5000)
        </script>
    {% endif %}

    {% if accepted==False %}
        <div id="invalidToken" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card box" style="padding: 3em;">
                <p class="title is-3 has-text-weight-bold has-text-centered">Oh no! Something broke.</p>
                <p class="has-text-centered">Password change cannot be perfomed as <b>email link used is invalid or has expired</b>.</p>
                <br>
                <a class="button is-light" href="{{ url_for('forgot_password') }}"><i class="fas fa-arrow-right"></i>&ensp;Request new email link</a>
            </div>
        </div>
    {% endif %}

{% endblock %}