{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="/css/pages/id.css">
{% endblock %}

{% block content %}
    <section id="hero-box" class="section">
        <div id="hero-content" class="container box has-text-centered discover-hero">
            <h1 class="title has-text-weight-bold has-text-white" style="font-size: 4rem;">
                tourisit<span class="has-text-weight-light">ID</span>
            </h1>
            <h2 class="subtitle is-size-4 has-text-light">
                Your pass to local tours, by locals.
            </h2>
        </div>
    </section>

    <section class="section">
        <div class="container" id="main">
            <div id="register">
                <h1 class="title">Get a Tourisit ID</h1>
                <h3 class="subtitle">Welcome!</h3>
                {% if newEmailSent %}
                    <div id="newEmailSent" class="notification is-success">
                        <i class="fas fa-truck"></i>&ensp;A new link is on its way. Please check your inbox.
                    </div>
                {% endif %}
                <form id="signupForm" method="POST" action="{{ url_for('signup') }}">
                    {{ signupform.csrf_token }}
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <!-- <input id="registerName" class="input" type="text" placeholder="Full Name"> -->
                            {{ signupform.full_name(id="registerName", type="text", class="input", placeholder="Full Name") }}
                            <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <!-- <input id="registerEmail" class="input" type="text" placeholder="Email"> -->
                            {{ signupform.email(id="registerEmail", type="email", class="input", placeholder="Email Address") }}
                            <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                        </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <!-- <input id="registerPassword" class="input" type="password" placeholder="Password"> -->
                            {{ signupform.password(id="registerPassword", type="password", class="input", placeholder="Password", value="") }}
                            <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>

                            <div class="showPasswordContainer">
                                <small class="has-text-grey unselectable" id="showPassword" style="cursor: pointer;"><i
                                        id="icon-showPassword" class="fas fa-eye-slash"></i>&ensp;<span
                                        id="showPasswordText">Hold
                                    to
                                    show
                                    password</span></small>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a class="button is-light has-text-grey" data-pjax='main' href="./login"><i
                                class="fas fa-key"></i>&ensp;Sign in instead</a>
                        <button id="registerButton" type="submit" class="button is-primary">Continue&ensp;<i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </form>
            </div>

            <div id="emailConfirmation" style="display: none;">
                <h2 class="title is-3">Almost done!</h2>
                <p id="loginSuccessText" class="subtitle is-6">Please verify your email</p>
                <div id="tooFastEmail" class="notification is-danger" style="display: none;">
                    Resending emails too quickly.
                </div>
                <p>We have sent to a verification link to <b id="emailSentTo"></b>. Please click on it to verify your
                    account with your email.<br><br>Afterwards, you may start using your account.</p>
                <br>
                <button id="resendEmailButton" class="button is-light"><i class="fas fa-paper-plane"></i>&ensp;Resend
                    Email
                </button>
            </div>
        </div>
    </section>

    {% if exist %}
        <div id="errorDuplicateModal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card box" style="padding: 3em;">
                <p class="title is-3 has-text-weight-bold has-text-centered">Account already in existance</p>
                <p class="has-text-centered"><b>{{ email }}</b> already exists as a Tourisit ID.</p>
                <br>
                <span class="buttons">
        <a href="{{ url_for('login') }}" class="button is-primary is-fullwidth"><i
                class="fas fa-sign-in-alt"></i>&ensp;Login instead</a>
        <a onclick="$('#errorDuplicateModal').fadeOut('fast');" class="button is-light is-fullwidth"><i
                class="fas fa-times"></i>&ensp;Close</a>
            </span>
            </div>
        </div>
    {% endif %}

    {% if acc_creation %}
        <div id="createModal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card box" style="padding: 3em;">
                <p class="title is-3 has-text-weight-bold has-text-centered">Please verify your email</p>

                <p class="has-text-centered">We have sent a verification email to <b>{{ email }}</b>.
                    <br><small>Please check your spam folder if you do not receive our email within a minute.</small>
                </p>
                <br>
                <span class="buttons">
                    <form id="resendEmail" method="POST" action="{{ url_for('resend_email') }}">
                        {{ resend_email.email(type="text", style="display:none", value=email) }}
                        <button type="submit" class="button is-light is-dark"><i class="fas fa-paper-plane"></i>&ensp;Resend
                            Email
                        </button>
                    </form>
                <a onclick="$('#createModal').fadeOut('fast');" class="button is-light is-fullwidth"><i
                        class="fas fa-times"></i>&ensp;Close</a>
                    </span>
            </div>
        </div>
    {% endif %}

{% endblock %}